[2020-09-24 06:03] zielu commented on #265
Hi, are you using Material Theme UI ? If I remember correctly it caused issues like this

[2020-09-24 07:01] zielu opened #266 "EAP 2020.3 compatibility"
Java 11 is default now.

[2020-09-24 08:37] OlegBrony commented on #265
not sure, it's default webstorm theme.

[2020-09-24 18:47] zielu commented on #266
Released to EAP channel: https://github.com/zielu/GitToolBox#eap-builds

[2020-09-25 15:55] zielu commented on #265
Ok, what ide and plugin version are you on ?

[2020-09-29 15:29] OlegBrony commented on #265
okay, it's okay now, sorry.

[2020-10-05 17:07] huzecong opened #267 "[Feature] Option to disable horizontal scrolling for inline blame"
Currently the inline blame is treated as part of the line in the editor, so if the commit message is long, the blame would extend beyond the editor window boundaries and allow horizontal scrolling. I personally dislike horizontal scrolling so I wish there's an option to prevent this by e.g. automatically truncating the blame so it doesn't go beyond the editor boundaries.

This would be similar to

[2020-10-06 14:33] zielu commented on #267
Hi, I'll take a look how hard this will be.

[2020-10-09 16:33] #266 closed

[2020-10-14 20:25] zielu opened #268 "[Arch] Switch to inlay API from line extension for inline blame to provide additional customisation"
https://youtrack.jetbrains.com/issue/IDEA-252786

[2020-10-15 06:27] zielu commented on #268
com.intellij.openapi.editor.InlayModel
Use com.intellij.ui.SimpleColoredComponent as renderer
Listen to caret EditorFactory.getInstance().getEventMulticaster().addCaretListener(

[2020-10-24 16:36] escuelatech opened #269 "NPE in gittoolbox"
I see the below error while opening the gittoxbox in intellij . Is there a way to fix this ?

java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:878)
	at zielu.gittoolbox.ui.GitPushTagsDialog.getRepository(GitPushTagsDialog.java:197)
	at zielu.gittoolbox.ui.GitPushTagsDialog.currentBranch(GitPushTagsDialog.java:191)
	at zielu.gittoolbox.ui.GitPu

[2020-10-24 17:38] zielu commented on #269
Hi, which IDE, version & plugin version are you using ?

[2020-10-24 17:54] escuelatech commented on #269
@zielu  - Using intellij Ultimate 2020.2. It started working after multiple restarts.

[2020-10-24 18:08] zielu commented on #269
Hmm, there might be a race condition between dialog and repositories not being loaded yet. I'll add handling for it.

[2020-10-24 18:27] escuelatech commented on #269
@zielu I installed the latest intellij version on my new windows laptop, then installed the gittoolbox plugin . That is where I started seeing this problem.  I'm not sure that it can be reproduced.

[2020-10-28 15:31] zielu commented on #269
Done in 202.2.0

[2020-10-28 15:31] #269 closed

[2020-10-28 15:31] zielu commented on #217
Done in 202.2.0

[2020-10-28 15:31] #217 closed

[2020-10-30 02:27] yiding-he opened #270 ""Cannot create zielu.gittoolbox.metrics.ProjectMetrics because container is already disposed""
Version: `202.2.0`

Full stack trace here:

[code]

Not a serious issue but wish to handle this exception.

[2020-10-30 07:05] zielu commented on #270
Hi, nice catch. This will help towards eventually making plugin dynamic and not requiring restart after update.

[2020-11-03 11:53] SMUsamaShah opened #271 "Getting KotlinNullPointerException"
GitToolBox fails to start and gives the following stacktrace.

IntelliJ Ultimate 2020.2.3
GitToolBox 202.2.0

[code]

[2020-11-03 12:40] zielu commented on #271
In the mean time you can disable blame persistence:
1.  Use Find Action... to seach for `Registry...`
2. Find key `zielu.gittoolbox.blame.cache.persistent`
3. Uncheck it and reopen project

[2020-11-03 12:41] zielu commented on #271
Btw is our git repository root outside of project directory ?

[2020-11-03 20:47] zielu commented on #271
Fixed in 202.2.1

[2020-11-03 20:47] #271 closed

[2020-11-05 18:27] SMUsamaShah commented on #271
Yes it is.

Thank you very much for fixing this. Was feeling short sighted without it.

[2020-11-06 09:56] DoveAz opened #272 "gitmoji auto completion support set unicode or text"
like this https://plugins.jetbrains.com/plugin/14610-gitmoji-unicode

[2020-11-06 14:25] zielu commented on #272
Hi, so you would like to be able to choose - either unicode or unicode + text ?

[2020-11-09 01:44] DoveAz commented on #272
unicode 🎉

[2020-11-09 14:56] zielu commented on #272
Ok, got it colon notation is for github markdown

[2020-11-09 18:06] ottnorml commented on #272
Thanks for your awesome plugin, @zielu.
It would be a really great feature if the user could choose in the settings whether to use text or Unicode for the emojis in commit messages. I would appreciate that a lot. :)

[2020-11-11 15:59] petr-nehez opened #273 "com.intellij.serviceContainer.AlreadyDisposedException: Already disposed"
version 202.2.1
quite a large project

[code]

[2020-11-11 18:38] zielu commented on #273
Hi, good catch. I'm currently trying to stomp out all of such errors

[2020-11-16 16:16] zielu commented on #273
Done in 202.2.2

[2020-11-16 16:16] #273 closed

[2020-11-16 16:17] zielu commented on #270
Done in 202.2.2

[2020-11-16 16:17] #270 closed

[2020-11-17 02:10] yiding-he opened #274 "com.intellij.util.IncorrectOperationException: ... the child will never be disposed"
Error Message:
com.intellij.util.IncorrectOperationException: Sorry but parent: zielu.gittoolbox.ui.statusbar.GitStatusWidget@1915203a is being disposed so the child: zielu.intellij.concurrent.ZDisposableRunnable@7cd199b3 will never be disposed

Verison:
`202.2.2`

Screenshot:
![idea64_oEXLDPQnY9](https://user-images.githubusercontent.com/900606/99337107-a5780100-28bc-11eb-8ea3-7328e5431727.png)

[2020-11-17 04:03] houkunlin commented on #274
error +1

[2020-11-17 09:29] zielu commented on #274
Fixed in 202.2.3

[2020-11-17 10:07] ryenus commented on #251
**TIL**: for multi-module projects, I had to enable the top module to get inline blame to work.

Before that I only had one of the submodule enabled and the inline blame didn't work, which took me sometime to figure out what went wrong, and that's why I found this issue. Anyway, turned out enabling the top module solved the issue.

[2020-11-17 10:21] ryenus commented on #251
**TIL**: for multi-module projects, I had to enable the top module to get inline blame to work.

Before that I only had one of the submodule enabled and the inline blame didn't work, which took me sometime to figure out what went wrong, and that's why I found this issue. Anyway, turned out also enabling the top module solved the issue.

[2020-11-17 10:25] zielu commented on #251
@ryenus which settings did you have to change ? Maybe I could improve it

[2020-11-17 10:33] jurgenhaas opened #275 "com.intellij.util.IncorrectOperationException since latest update"
[code]

[2020-11-17 10:46] zielu commented on #275
Duplicate of #274

[2020-11-17 10:55] jurgenhaas commented on #275
Oh sorry, I only checked open issues before posting a new one. Didn't expect you to be that fast to resolve a report like this.

Thanks a lot.

[2020-11-17 11:03] zielu commented on #275
@jurgenhaas issues get top priority :)

[2020-11-17 11:04] #275 closed

[2020-11-18 01:47] ryenus commented on #251
@zielu no, I did not change any settings.

What I did was, in the **Load/Unload Modules** dialog, I moved the top module from the **Unloaded modules** to the **Loaded modules**:

![image](https://user-images.githubusercontent.com/610161/99471996-ae330a80-2982-11eb-9450-a60057fcabd6.png)

[2020-11-18 07:30] ap-wtioit commented on #274
Seems still to happen in 202.2.3:
![Screenshot from 2020-11-18 08-27-11](https://user-images.githubusercontent.com/38032588/99498561-f698fb00-2977-11eb-9779-0c48055f585b.png)

[2020-11-18 08:17] zielu commented on #274
I see what is wrong - missed one flow :/

[2020-11-18 10:32] nsakhamuri commented on #274
Same Here. Here is my log.
`com.intellij.util.IncorrectOperationException: Sorry but parent: zielu.gittoolbox.ui.statusbar.GitStatusWidget@370c89dc is being disposed so the child: zielu.intellij.concurrent.ZDisposableRunnable@71c41027 will never be disposed
	at com.intellij.openapi.util.ObjectTree.register(ObjectTree.java:69)
	at com.intellij.openapi.util.Disposer.register(Disposer.java:70)
	at zi

[2020-11-18 10:43] zielu commented on #274
Should be fixed for good in 203.2.4

[2020-11-18 10:43] #274 closed

[2020-11-19 07:49] huchengze commented on #265
Hi, I got the same problem, how did you solve this? thanks
@zielu I'm using Goland 2020.2.3, plugin version is 202.2.4, and I installed the Material Theme UI plugin but has already disabled it .

[2020-11-23 14:16] hernanBeiza commented on #251
I will check this soon and I write you later. Thanks for your info

[2020-11-23 14:37] hernanBeiza commented on #251
@zielu I checked 2018.3 and works like a charm!

![Captura de pantalla 2020-11-23 a la(s) 11 32 01](https://user-images.githubusercontent.com/1325005/99974510-cb4f4b00-2d7f-11eb-9e8d-c11c4d8e8678.png)

Anyway I unchecked "Show 'Git Stat' in  status bar". Thanks for your info @whisperice

![Captura de pantalla 2020-11-23 a la(s) 11 32 37](https://user-images.githubusercontent.com/1325005/99974604-f

[2020-11-26 14:36] zielu commented on #272
It's on the way :)
<img width="577" alt="image" src="https://user-images.githubusercontent.com/464103/100363478-15913000-2ffd-11eb-9272-3d47c582f46e.png">

[2020-11-27 07:16] MairwunNx opened #276 "Incorrect displaying of inline blame with type hints"
How it looks (as you see overlapped):
![image](https://user-images.githubusercontent.com/39625750/100421386-56d71d80-3099-11eb-9ab2-bd013d00840f.png)

Just screenshot with a type hint:
![image](https://user-images.githubusercontent.com/39625750/100421417-648ca300-3099-11eb-8b06-cb0052b848b4.png)

`201.4.2`, `Android Studio 4.1.1`, `Kotlin`

[2020-11-27 10:31] zielu commented on #276
Hi, with current approach to how inline blame is displayed it's not possible to fix this. There is other IDE API that could be used to improve this and there is already issue open to switch to it #268.

[2020-11-27 13:11] jaggaer-npasic commented on #251
![image](https://user-images.githubusercontent.com/70564484/100452898-54d18680-30ba-11eb-8e7a-2beec1c233b5.png)

I have everything configured but it's not working....
Version 202.2.4

[2020-11-27 13:14] zielu commented on #251
@jaggaer-npasic does it show up in status bar or is it missing altogether ?

[2020-11-27 14:45] jaggaer-npasic commented on #251
@zielu
It's visible
![image](https://user-images.githubusercontent.com/70564484/100460503-91f04580-30c7-11eb-888a-8a75809a3246.png)

[2020-11-27 15:27] zielu commented on #251
Hmm, I don't see blame component in there. I noticed you are using Material UI - could you try to change to other theme ? There were problems with it in the past.

If it does not help could you enable debug logging and let's see if there is something interesting in there: https://github.com/zielu/GitToolBox#debug-logging

[2020-12-01 09:43] transtone commented on #184
when disable `font ligature` ,   no more the colorful blames.

[2020-12-01 09:53] zielu commented on #184
Hi, there is nothing to fix on my plugin's side. Seems like Material UI does not handle property line extensions rendering

[2020-12-01 10:50] #276 closed

[2020-12-01 12:05] zielu commented on #272
Done in 202.2.5 - there is new option in global plugin settings that allows to select if unicode should be used

[2020-12-01 12:05] #272 closed

[2020-12-01 15:03] transtone commented on #184
There is not use Material UI at all.

[2020-12-01 15:09] zielu commented on #184
Please create a new issue then with IDE and plugin version I don't want to resurrect old tickets

[2020-12-02 00:55] transtone opened #277 "colorful inline blame when enable font ligatures and blame has CJK text"
as the title.

![DC71CD04-F4B5-4efb-9336-8B7C052D70B3](https://user-images.githubusercontent.com/46688/100814186-1b16cc00-347c-11eb-8ffe-9fa9e076fbf9.png)
![649BBC87-259A-44a0-8730-699E480EF75E](https://user-images.githubusercontent.com/46688/100814189-1fdb8000-347c-11eb-835a-b013bd75b624.png)

[2020-12-02 00:56] transtone commented on #184
https://github.com/zielu/GitToolBox/issues/277

[2020-12-02 00:58] transtone commented on #277
![image](https://user-images.githubusercontent.com/46688/100814336-6df08380-347c-11eb-86ff-fbf650828947.png)
![image](https://user-images.githubusercontent.com/46688/100814366-82348080-347c-11eb-83df-916c10cfb021.png)

[2020-12-02 08:27] marco-sanjuan opened #278 "Plugin configuration get lost on each new version."
First, thanks for a great work.

I noted that, each time I update to new GotToolBox version, plugin configuration is lost and I have to reconfigure it all (generic and project specific config).
It always happened to me, I updated plugins 7 ot 8 times since installed Intellij. Also happened in all new intellij versions that I've updated.

Any idea? Thanks!

### Info:
IntelliJ IDEA 2020.3 (Ultimate

[2020-12-02 08:47] zielu commented on #278
Hi, I'll take a look what is wrong

[2020-12-02 11:15] etcsebd opened #279 "Getting PluginException on start up with"
Hello,
thank you for this great plugin. Yesterday, I updated Intellij to:
IntelliJ IDEA 2020.3 (Ultimate Edition)
Build #IU-203.5981.155, built on November 30, 2020
Runtime version: 11.0.9+11-b1145.21 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0

I am using GitToolBox with version: bundled 193.4.4 Stable Release (20200128.220444)

I now get following PluginException every

[2020-12-02 11:41] zielu commented on #279
Hi, thanks for reporting - on it.

[2020-12-03 01:51] sisibeloved opened #280 "[Bug] Plugin Exception in IDEA 2020.3"
Hello, Yesterday I update Intellij IDEA to 2020.3, and there is an exception in event log.

- Software Version: Intellij IDEA Ultimate Edition 2020.3, build #IU-203.5981.155
- Plugin Version: 203.1.1
- Hardware Information: Macbook Pro 15' 2018
- System Information: MacOS Big Sur 11.0.1
- Java Version: 11.0.2+9-LTS

The stacktrace is as following:
[code]

[2020-12-03 12:57] zielu commented on #279
Fixed in 203.3.0

[2020-12-03 12:57] #279 closed

[2020-12-03 12:57] zielu commented on #280
Fixed in 203.3.0

[2020-12-03 12:57] #280 closed

[2020-12-03 16:16] ccliment opened #281 "[Bug] Exception when using the gitmoji completion"
Hi,
I just updated my PhpStorm to 2020.3, and now when I try to use the gitmoji completion, I have an exception.

- PhpStorm version: 2020.3 (Build #PS-203.5981.175)
- Plugin version: 203.3.0
- Java version: 11.0.9+11-b1145.21 amd64

Thanks :)

[code]

[2020-12-03 16:18] zielu commented on #281
Hi, I'll take a look

[2020-12-03 19:54] enolive commented on #281
Affects me as well in IntelliJ 2020.3, the only difference I can spot ist the different locale

IntelliJ IDEA 2020.3 (Ultimate Edition)
Build #IU-203.5981.155, built on November 30, 2020

[code]

[2020-12-03 23:13] zielu commented on #281
Done in 203.3.1

[2020-12-03 23:13] #281 closed

[2020-12-04 08:04] marco-sanjuan commented on #278
I just updated to 203.3.1 and, one more time, i had to reconfigure whole plugin settings.
May I help you in the research? Some more info?

IntelliJ logs during this update are fine, no exceptions during entire IntelliJ session:
[code]

[2020-12-04 09:06] zielu commented on #278
I was specifically looks for these

2020-12-04 08:45:54,846 [1956447]   INFO - ttoolbox.config.ConfigMigrator - V1 config migrated to V2
2020-12-04 08:45:54,846 [1956447]   INFO - ttoolbox.config.ConfigMigrator - V2 config migrated to version 2
2020-12-04 08:45:54,847 [1956448]   INFO - ttoolbox.config.ConfigMigrator - V2 config migrated to version 3
2020-12-04 08:45:54,847 [1956448]   INFO - lu.g

[2020-12-04 10:00] marco-sanjuan commented on #278
For me, both global and project config are lost.

Hope it helps.

[2020-12-04 13:19] zielu commented on #278
Configuration is loaded from 2 locations:
- project config <project root>/.idea/git_toolbox_prj.xml
- app config <intellij config dir>/options/git_toolbox_2.xml

Could you observe how content is changing during update ? I'll prepare EAP plugin version with additional logging and let you know.

[2020-12-04 14:10] zielu commented on #277
Could you paste in that blame as text ?

[2020-12-05 11:12] marco-sanjuan commented on #278
Hi @zielu

I have some news...
After upgrading to 203.1.1, files was removed and configuration lost.

Then, I reconfigured the plugin before upgrading to 203.3. (to see if it get lost).
Then, after upgrading and rebooting, configuration is still there.
Not sure if last version comes with a fix or not, but it didn't lose configuration.

Hope it helps.

I will continue the testing and reporting .

T

[2020-12-07 00:41] transtone commented on #277
https://github.com/transtone/blame-test

this repo could test.

the text could be :   测试彩色日志

[2020-12-07 08:59] juzi214032 opened #282 "How to cloes this info?"
![image](https://user-images.githubusercontent.com/38206169/101330410-87933000-38ad-11eb-8961-e3039ed64a5d.png)

[2020-12-07 09:01] #282 closed

[2020-12-11 09:42] LostKatana opened #283 "Multi Repository support for incoming changes not working"
Having two repositories in a folder and opening that folder results in non working plugin.

How to reproduce:

- create a folder and name it root
- import two existing repos
- update the remote of one of the repos
- git stat Status bar not showing any changes.

**Edit:**
Works in case a file is open for the specific repo having changes.
Only seems to fail when having no file open.

Proposed soluti

[2020-12-11 19:49] zielu commented on #283
Image one repo has 1 incoming, second has 2. What would you expect to see ? Some general info to effect that something is incoming ?

[2020-12-11 19:55] zielu commented on #283
I'm leaning towards sum in brackets and details per repo in mouse-over tooltip.

[2020-12-12 11:28] LostKatana commented on #283
Totally fine for me. In most cases I do not care for the amount per repo anyways.

[2020-12-16 15:12] zielu commented on #278
Hi, there is nothing in the plugin that would cause file removal. Do you have any process running that would do that (anti-virus or smth) ?
I do see one thing in logs - plugin loaded without restart - that should not happen. Looks like I need other approach to force restart on update.

[2020-12-16 15:15] zielu commented on #283
@LostKatana you are using IDE 2020.2 or 2020.3 ?

[2020-12-16 15:33] zielu commented on #278
I pushed 203.3.2 - let's see how it behaves now

[2020-12-16 16:10] marco-sanjuan commented on #278
I have antivirus, let's see with new version...

[2020-12-16 17:25] LostKatana commented on #283
Since a few days i'm on 2020.3

[2020-12-16 23:00] zielu commented on #278
There was nothing fixed, because I did not find any issue with the plugin so far.

[2020-12-17 07:32] marco-sanjuan commented on #278
Hi @zielu

After updating, this is the second time plugin has updated without losting config. I don't kwnow how but it works.

I think issue can be closed.

Thanks for your effort, great job!!

[2020-12-17 07:38] zielu commented on #278
@marco-sanjuan did you have to restart IDE ? I have a suspicion that there might be smth wrong when updating without restart. I will have to investigate it deeply before plugin can be considered fully dynamic.

[2020-12-17 07:41] marco-sanjuan commented on #278
Yes, I had restarted IDE as it recommends.I always do it when GitToolBox plugin updates.
Hope it helps.

[2020-12-28 02:19] juzi214032 commented on #277
I have the same problem

[2020-12-28 18:15] zielu commented on #277
@transtone @juzi214032 - could you paste in clipboard output after pressing this button ?

[2021-01-05 00:37] transtone commented on #277
maybe you use a non CJK language windows.

[2021-01-05 11:24] zielu commented on #277
I'll try retesting under windows with different language combinations

[2021-01-08 02:09] mh080106415 opened #284 "PluginException: Cannot init component state (componentName=GitToolBoxBlamePersistence, componentClass=BlameCalculationPersistence) [Plugin: zielu.gittoolbox]"
IntelliJ IDEA 2020.3 (Ultimate Edition)
Build #IU-203.5981.155, built on December 1, 2020
Runtime version: 11.0.9+11-b1145.21 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.16
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Registry: vcs.annotations.preload=true, ide.images.show.chessboard=true
Non-Bundled Plugins: Batch Scripts Support, CMD Support, bundled-intellij-idea-

[2021-01-08 08:00] zielu commented on #284
On it

[2021-01-11 17:29] jaggaer-npasic commented on #251
Hi,
I've used different themes and also, default one, but the result is the same.
The only thing I've noticed is that if you import multiple projects only the first one will have this feature and the others don't.
The first one is the only one that could be imported as "Project", the others are imported as modules.
If you try to create some dummy project, in which you will import your projects as

[2021-01-12 08:54] zielu commented on #284
Done in 202.2.6

[2021-01-12 08:56] zielu commented on #251
I'll try to reproduce on 2020.2 and 2020.3 with the steps you described

[2021-01-12 10:59] matejdro opened #285 "Auto-fetch attempts to fetch from inexistent folder"
I'm experiencing weird issue with GitToolBox. What I did:

1. I have project A
2. I made a copy of project A into folder B
3. I opened project B (so both original and copy were opened at the same time) and I switched branches around in both projects
4. I closed and deleted folder B.

However, now when I open project A, Android Studio will greet me will the following error message:

[code]

It seem

[2021-01-12 12:08] zielu opened #286 "Inline blame not working for project with multiple repos added as modules"
Hi,
I've used different themes and also, default one, but the result is the same.
The only thing I've noticed is that if you import multiple projects only the first one will have this feature and the others don't.
The first one is the only one that could be imported as "Project", the others are imported as modules.
If you try to create some dummy project, in which you will import your projects as

[2021-01-12 12:09] zielu commented on #251
@jaggaer-npasic I moved this to new issue #286

[2021-01-12 12:16] jaggaer-npasic commented on #286
Hi @zielu,
Considering that you opened this issue, I suppose you managed to replicate the problem?

[2021-01-12 12:42] zielu commented on #286
Not yet but I don't like to update closed ones. @jaggaer-npasic - question how many Git roots do you have in Preferences > Version Control ?

[2021-01-12 15:12] jaggaer-npasic commented on #286
![image](https://user-images.githubusercontent.com/70564484/104332825-e1ac9400-54f0-11eb-8352-b3d59a2c127b.png)
One. The one that is visible to GitToolBox

[2021-01-12 15:20] jaggaer-npasic commented on #286
The solution for this seems to be to manually add the project as a registered root.
It seems like something that Should be done automatically. Just, I'm not sure by whom... By IDE or by the plugin.
Maybe, this is something that needs to be handled by IDE, but, me (or someone else) as the user who is using this, or any other plugin, I'm expecting this to be performed automatically. Since, if it doe

[2021-01-12 15:26] zielu commented on #286
I saw IDE notification about unregistered roots, I'll see what can be done. If I can gain access to unregistered roots I could display a warning as inline blame text, that root needs to be registered.

[2021-01-12 15:38] zielu commented on #286
com.intellij.openapi.vcs.configurable.VcsDirectoryConfigurationPanel#findUnregisteredRoots

`
return ContainerUtil.filter(VcsRootErrorsFinder.getInstance(myProject).getOrFind(),
                                error -> error.getType() == VcsRootError.Type.UNREGISTERED_ROOT);
`

[2021-01-13 08:04] zielu commented on #285
Hi, I'll take a look

[2021-01-13 15:41] zielu commented on #283
Done in 202.3.0 (2020.2), has to be ported to 203

[2021-01-14 09:06] #284 closed

[2021-01-14 09:07] #283 closed

[2021-01-14 12:16] mediagui opened #287 "Getting this errors every 2 minutes"
java.lang.IllegalStateException: Value not possible for {0} [NO_REMOTE]
	at com.google.common.base.Preconditions.checkState(Preconditions.java:589)
	at zielu.gittoolbox.status.RevListCount.value(RevListCount.java:45)
	at zielu.gittoolbox.ui.statusbar.GitStatusPresenter.combine(GitStatusPresenter.kt:133)
	at zielu.gittoolbox.ui.statusbar.GitStatusPresenter.combine(GitStatusPresenter.kt:126)
	at zie

[2021-01-14 12:34] Terrijoo commented on #287
Same.
For me it happens if you move an editor tab (e.g. open file) around and want to re arrange them.
Also causes the moved tab to be sometimes "frozen" and you can't click it properly anymore.
See last tab here:
![image](https://user-images.githubusercontent.com/5391946/104591581-2fe6a200-566d-11eb-8b89-89c3b9e5acc3.png)

[2021-01-14 12:35] zielu commented on #287
On it

[2021-01-14 13:00] zielu commented on #287
Done in 202.3.1, still 203.* to do

[2021-01-14 14:35] zielu commented on #287
Also done in 203.4.1

[2021-01-14 14:36] #287 closed

[2021-01-14 15:19] zielu commented on #285
@matejdro it's happening on each project open ?

[2021-01-14 17:22] matejdro commented on #285
No, only on that particular project.

[2021-01-14 20:01] zielu commented on #285
@matejdro but each time you are opening the project ?
Also please take a look at Preferences (or Setting) > Version Control - how many repositories to you have there.
I took a look at code of this particular plugin version and the way repo directories are obtained - one way I see this could happen is getting stale reference from either Version Control configuration or built-in Git plugin.

[2021-01-15 05:14] matejdro commented on #285
VCS window only shows one entry - current git directory.

Any idea where I could clear this stale reference? I tried deleting .idea folder, but problem remains.

[2021-01-15 08:18] marco-sanjuan commented on #278
Hi @zielu

I had successfully updated to last version without loosing configuration.

I think issue can be resolved.

Thank you!

[2021-01-15 14:56] zielu commented on #278
@marco-sanjuan great news ! I'm suspecting this might have all been related to #284 too.

[2021-01-15 14:56] #278 closed

[2021-01-15 15:02] zielu commented on #285
@matejdro I can find that - which OS are you on ?

[2021-01-15 15:15] matejdro commented on #285
Arch Linux

[2021-01-15 15:26] zielu commented on #285
One more thing - let's check what the logs say:
Help > Diagnostic Tools > Debug Log Settings

Add `#zielu.gittoolbox.fetch`.

Then under Help there should an option like Show Log. In the idea.log file look for `AutoFetchTask` we should see the repos that are returned by built-in Git plugin.

[2021-01-16 19:28] zielu opened #288 "Github integration authentication issue"
There are very vague reports in marketplace reviews that plugin somehow interferes with Github integration. Investigation will be tracked here.

I see following possibilities here:
1. if there is same popup when invoking Git > Fetch - then disabling auto-fetch will solve issue of annoying popup. See https://github.com/zielu/GitToolBox/wiki/Manual#configuration
2. if Git > Fetch works fine and only

[2021-01-16 20:09] zielu commented on #288
1. Cannot be helped - just disable autofetch
2. cases
    - Fetch & auto-fetch, Log in Via Github - checked and works
    - Fetch & auto-fetch, Log in Via Token - ?
    - Enterprise - cannot be checked

[2021-01-18 05:13] matejdro commented on #285
I got this from logs:

[code]

It looks like path to the second folder was somehow added to the first repo as a remote named `copy` and gittoolbox kept wanting to fetch from it. Not sure how this happened, but deleting that remote fixed the issue.

Thanks a lot for your help.

[2021-01-18 05:13] #285 closed

[2021-01-18 08:57] zielu commented on #288
FAQ section was added to manual: https://github.com/zielu/GitToolBox/wiki/Manual#faq

[2021-01-19 03:45] Jcuke opened #289 "GitToolBox (201.4.2) - idea start get a crash(idea 2020.1.4)"
java.lang.UnsatisfiedLinkError: Unable to load library 'CoreFoundation':
dlopen(libCoreFoundation.dylib, 9): image not found
dlopen(libCoreFoundation.dylib, 9): image not found
Native library (darwin/libCoreFoundation.dylib) not found in resource path (/Applications/IntelliJ IDEA.app/Contents/lib/bootstrap.jar:/Applications/IntelliJ IDEA.app/Contents/lib/extensions.jar:/Applications/IntelliJ IDEA.

[2021-01-19 08:00] zielu commented on #289
@Jcuke updated to Big Sur ?

[2021-01-19 08:04] Jcuke commented on #289
yes

发自我的iPhone

------------------ Original ------------------
From: Łukasz Zieliński <notifications@github.com&gt;
Date: Tue,Jan 19,2021 4:01 PM
To: zielu/GitToolBox <GitToolBox@noreply.github.com&gt;
Cc: Jcuke <937000078@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [zielu/GitToolBox] GitToolBox (201.4.2) - idea start get a crash(idea 2020.1.4) (#289)

[2021-01-19 08:45] zielu commented on #289
I'll add a workaround to not use build-in platform formatter

[2021-01-19 12:14] zielu commented on #289
Fixed in 201.4.3

[2021-01-19 12:14] #289 closed

[2021-01-25 08:16] #288 closed

[2021-01-25 08:20] zielu commented on #262
Loss of configuration is observed when disabling and enabling without restart. This looks to be causing #278

[2021-01-25 16:28] kad-molenj opened #290 "Extreme slowdown on startup"
I usually work with one big project containing ~35 modules with their own git repository.
When I start Intellij IDEA with the plugin enabled my system slows down so much that even my mousepointer becomes unresponsive (delayed movement). This takes about a minute. It does not happen with the plugin disabled.

I believe this behaviour started somewhere around

Although I am not entirely certain when

[2021-01-25 16:31] zielu commented on #290
Hi, I'll take a look.

[2021-01-26 08:23] zielu commented on #262
https://intellij-support.jetbrains.com/hc/en-us/community/posts/360010313419-Dynamic-plugin-lost-settings

[2021-01-26 08:25] zielu commented on #290
@kad-molenj let's see if it's caused by blame cache persistence - please find config described in https://github.com/zielu/GitToolBox/wiki/Manual#registry-switches, disable it and restart.

[2021-01-26 09:54] kad-molenj commented on #290
@zielu Thanks for looking into this!
I disabled the blame cache persistence but that did not change anything, unfortunately.

[2021-01-26 10:38] borissim opened #291 "Autofetch fails on macOS Catalina"
Autofetch reports the following error:
`Auto fetch failed
			dyld: Library not loaded: /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib
			Referenced from: /usr/local/bin/ssh
			Reason: image not found
			Could not read from remote repository.
			Please make sure you have the correct access rights
			and the repository exists.
`

It is related to the version of openssl (currently for me 1.1.1i) an

[2021-01-26 10:40] zielu commented on #291
Hi, you should be getting the same error when running `Git / Fetch`, if so just disable auto-fetch in plugin settings

[2021-01-26 11:10] zielu commented on #290
@kad-molenj IDE creates thread dumps alongside logs when there are some freezes - you should be able to access log directory with `Help / Show Log in...` or smth similiar. Grab first file from `threadDump-freeze...` directory corresponding to startup moment or better yet. Shutdown IDE delete all threadDumps, start and share one that IDE should create.

[2021-01-26 13:07] kad-molenj commented on #290
I deleted the older logs. However, no new thread dumps are created. I suppose it doesn't count as a freeze although my machine is definitely unusable for a good while.

I attached the application logging from startup, maybe there's a hint in there?
[idea.log](https://github.com/zielu/GitToolBox/files/5873415/idea.log)

[2021-01-26 13:14] zielu commented on #290
Thanks ! I see there are lot's of auto-fetch requests running. Let's try to eliminate this factor too. Could you disable Auto-fetch in GitToolBox Project settings ?
You will have to restart, because there is a bug related to that setting not being applied that I'm fixing right now.

[2021-01-26 13:22] kad-molenj commented on #290
Yeah without auto-fetch I don't experience any startup problems.
Auto-fetch never caused any trouble before either, that is, after the IDE had been fully started up.

I will have to manually do a fetch/pull to see the latest state but I suppose that's much better than not using the plugin at all!

[2021-01-26 13:26] zielu commented on #290
I'll reexamine that part of code - it's actually one of the oldest areas so I might be able to squeeze out some more performance out of it or at very least make first auto-fetch more smooth. There is already a small delay to give project some time to "settle", but in case of this number of repositories it has to be smarter.

[2021-01-26 13:45] kad-molenj commented on #290
Thank you for looking into it, and for your quick replies!

[2021-01-26 15:03] borissim commented on #291
Thanks! You are right, `git fetch` reports the same error, so not a GitToolBox issue.
Just in case someone else hits the same error, `brew update && brew upgrade` resolved the issue for me.

[2021-01-26 15:03] #291 closed

[2021-01-27 13:37] zielu commented on #290
@kad-molenj I added alternative mechanism for first auto-fetch - it will wait until all state is initialised so there should be less pressure on running concurrent git operations.
I pushed early access release to EAP channel, if you are feeling brave you can give it a try.
To switch to EAP channel, follow https://github.com/zielu/GitToolBox#eap-builds.
Then in `Registry` there is new key added tha

[2021-01-27 15:37] kad-molenj commented on #290
I added the EAP plugin repository, enabled the new key in the registry and re-enabled auto-fetch.
Then I restarted... Alas, the problem persists. It did wait a little longer before fetching on all repos. Perhaps the slowdown was slightly less, but it's hard to tell.
Surprisingly, the auto-fetch doesn't seem to have any problems on consecutive fetches. Perhaps it's because the fetching is staggered

[2021-01-27 15:54] zielu commented on #290
Hmm, so I seems it needs more investigation. What is curious is that it's always running same code and there is only one timer. I'll need to dive into IDE util that does the fetching.

[2021-01-28 06:18] KotlinIsland opened #292 "Support 211"
Incompatible with new EAP build

[2021-01-28 07:37] zielu commented on #292
I have to sleep sometimes :)

[2021-01-28 15:58] zielu commented on #292
Done in 203.4.3, at least until next EAP :)

[2021-01-28 15:58] #292 closed

[2021-01-29 14:10] Clindbergh opened #293 "Intellij freezes when using link to update workspace"
GitToolbox informs me when the remote was updated with a green popup containing a link to update my workspace. After I pressed the link I am presented a dialog to choose whether I want to merge or rebase (the same dialog Intellij presents when I choose 'Update project'). After I press 'Rebase' and 'OK', Intellij freezes and I can not use it anymore.
This does not happen when I use 'Update project'

[2021-01-29 14:12] zielu commented on #293
Hi, which Idea and plugin version are you using ?

[2021-01-30 20:59] zielu commented on #293
I managed to reproduce this on latest plugin version in 2020.3

[2021-02-01 06:34] p0las opened #294 "no branch info displayed in project explorer panel (community version)"
I installed the plugin just for that functionality (moving to pyCharm from eclipse) and the plugin is not adding anything to the project view. Is it meant to work in the community version of pyCharm? it works on another machine in the pro version.
it is highly possible the something in my pyCharm is not setup the way the plugin wants it but I went over the settings and I have no idea what else to

[2021-02-01 06:36] #294 closed

[2021-02-01 10:20] zielu commented on #293
Done in 203.4.4

[2021-02-01 10:20] #293 closed

[2021-02-01 14:32] sxurik opened #295 "Preview tab (quick file preview) not working if GitToolBox enabled"
Preview tab (aka Quick file preview) is a feature relatively new for Jetbrains. For webstorm it was introduced in the 2020.3 update.

Sadly it is impossible to use it and GitToolBox at the same time.  As soon as the file opens in a preview tab it becomes a permanent tab.

With GitToolBox disabled everything works as intended.

The checkbox to enable the feature is here: `Settings -> Editor -> Gene

[2021-02-01 14:44] zielu commented on #295
Hi, one idea from top of my head - what happens if you disable inline blame ? `GitToolBox Global / Show editor inline "Blame"`

[2021-02-01 14:46] zielu commented on #295
Disabling inline blame helps - now the question is why does it break ?

[2021-02-01 14:57] sxurik commented on #295
Yup, checked it as well, disabling it works. I wish it was smth else, inline blame is super helpful.

[2021-02-01 15:04] sxurik commented on #295
Smth else I noticed.

When opening a file in the preview tab for the first time the preview tab quickly becomes a permanent tab. But opening the same file subsequently doesn't trigger the change, the file stays in the preview tab.

[2021-02-02 02:57] MatushkaRossiya opened #296 "IntelliJ IDEA 2021.1 EAP Git Fetch error"
Plugin version: 203.4.3 & 203.4.4
IntelliJ IDEA version: 2021.1 EAP (211.4961.33)

When clicking on repository fetch action using the GitToolBox bottom toolbar widget I get an IDE exception.

Stacktrace:
`java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:201)
	at com.intellij.ui.popup.PopupFac

[2021-02-04 02:16] EaseTheWorld opened #297 "Feature Request : Restrict to push to specific branch"
When implementing features, I usually make featureXXX branch and push to remote/featureXXX.
But sometimes I forgot to make new one and use master and push to remote/master.

It would be great if GitToolBox can prevent this, by force-block or popup-block.

[2021-02-04 13:20] zielu commented on #296
Done in 203.4.5

[2021-02-04 13:20] #296 closed

[2021-02-04 22:00] zielu commented on #295
Done in 203.4.7

[2021-02-04 22:00] #295 closed

[2021-02-05 10:57] kad-molenj commented on #290
I must say, after one of the latest updates (I think 203.4.3) I tried re-enabling auto-fetch and the slowdown on startup isn't so bad anymore! I don't know why it didn't work when I selected the change from the EAP channel.

[2021-02-05 12:16] zielu commented on #290
Hi, I was tweaking things in the background. Now instead of fetching right away after 10sec elapsed since project open there is first wait for all things to initialize and then time to start fetching depends on number of repositories so in your case it gives even more time.

[2021-02-07 03:32] dgiridharan opened #298 "GitToolBox failed to initialize with the NPE"
I really love this product. However, after the last upgrade of the plugin, I'm getting the following error:

Stable Release (20210114.130412)
Version: 202.3.1
Stack:
[code]

Please let me know if you'd like more details and I'd be more than happy to help! Thank you very much in advance!

[2021-02-07 20:45] zielu commented on #298
I thought it was fixed in #284, looks like  I missed something

[2021-02-08 14:02] zielu commented on #298
@dgiridharan could you switch to EAP channel ? (https://github.com/zielu/GitToolBox#eap-builds) there is 202.3.2 in there that has some improvements and logging so it's more visible why it fails.

[2021-02-08 18:38] dgiridharan commented on #298
Yep switched to the EAP. Here's the new stack:

[2021-02-08 18:47] dgiridharan commented on #298
Here's the new stack after swittching to the EAP:
EAP Release (20210208.133835)
Version: 202.3.2

[code]

[2021-02-09 10:53] zielu commented on #298
@dgiridharan could you look in IDE logs for `Garbage cleanup failed` message ?

[2021-02-10 09:58] zielu commented on #298
Should be fixed in 202.3.4 - this must be some data corruption, because there is no way that there can be a null in any of the fields. In case when there is one (probably inserted by reflection during deserialization by Platform) error is shown but blame cache is emptied to clean up bad data.

[2021-02-10 20:28] Clindbergh commented on #293
Excellent, thanks! I can confirm it works.

Sorry I didn't respond. Didn't notice the comment. I was on the most recent release.

[2021-02-11 08:05] zielu commented on #290
I'll close it for now, there are some more improvements possible but I'd add them as separate ticket.

[2021-02-11 08:05] #290 closed

[2021-02-12 14:52] #298 closed

[2021-02-12 18:09] Jasonca2 opened #299 "[Feature] Customize date format for inline blame"
Git lens in VS Code offers support for a custom date format to be used when viewing inline blames. Could support for this be added in GitToolBox?

[2021-02-12 20:02] zielu commented on #299
@Jasonica2 something totally custom in addition to predefined ones ?

[2021-02-12 20:10] Jasonca2 commented on #299
Yes that is correct @zielu , and what would really be slick is a preview window/tooltip to show what the formatted date would look like in the settings pane. I think it would make sense to conform to common date time format codes such as those from the C standard (i.e., H for 24 hour clock or I for 12 hour clock, etc)

[2021-02-16 15:04] zielu opened #300 "One plugin build for all platform versions"
Branches are tedious to maintain so it would be best to have one plugin build for all platform versions.
This poses several challenges:
- different Kotlin versions (1.3.72 in 202, 1.4.20 in 203+)
- different JVM versions (8 in 202, 11 in 203+)
- API changes between Platform versions (202 vs 203+)

Concept
1. API changes can be addressed by extract module per Platform version implementing "compatib

[2021-02-22 20:35] zielu commented on #262
Config lost on unload/load is reported under https://youtrack.jetbrains.com/issue/IDEA-262732

[2021-02-24 20:27] Maykonn commented on #236
I'm using PHPStorm 2018.3, inline blame checkbox doesn't show on the plugin settings, only the options to the status bar.
Inline blame not working.

[2021-02-24 20:33] zielu commented on #236
Hi @Maykonn, let me take a look, I remember this is one of boundary versions where inline blame was introduced. Btw I think I need feature / version matrix :)

[2021-02-24 20:45] zielu commented on #236
@Maykonn inline blame was added in 183.3.0 but for 2018.3 183.6.1 is the last release. I recommend it because earlier had performance issues in inline blame

[2021-02-24 21:57] Maykonn commented on #236
Hi @zielu I added the plugin repository url to the plugin repositories list, but the ide shows me that 183.1.0 is the most recent version. I'll try an installation from the disk.

[2021-02-24 22:03] Maykonn commented on #236
@zielu I've just tried a manual installation of 183.6.1 but the IDE returning this error: _Plugin 'GitToolBox' is incompatible with this installation_

[2021-02-24 22:04] zielu commented on #236
@Maykonn there is one more possibility - looking at exact version - you need at least 2018.3.3 to get versions with inline blame

[2021-02-25 14:04] Maykonn commented on #236
I see, thanks @zielu

[2021-03-16 15:37] zielu commented on #226
@mfn feature is almost ready - feeling brave to give it a whirl ?

[2021-03-17 11:54] zielu opened #301 "[Feature] Add action to resolve cannot lock ref"
This is annoying and to fix it 2 commands need to be run:
`
git gc --prune=now
git remote prune origin
`

https://stackoverflow.com/questions/6656619/git-and-nasty-error-cannot-lock-existing-info-refs-fatal

Action is exposed to run cleanup.

[2021-03-19 19:53] mfn commented on #226
@zielu Yes! But… where? 🤔

I've https://plugins.jetbrains.com/plugins/eap/7499 added to my plugins (had it already there), but I don't see any newer version?

Thanks!

[2021-03-20 08:48] zielu commented on #226
I was working out several issues, now it looks eap worthy :smile:

[2021-03-20 11:36] zielu commented on #226
And it's out 203.5.0 😃

[2021-03-23 15:19] zielu commented on #226
203.5.1 to fix small UI issue

[2021-03-29 09:34] diskostu opened #302 "Settings are gone"
GitToolBox 203.5.1
IntelliJ 2020.3.3

I cannot see the settings anymore. I don't know if it's because of a recent update.

![image](https://user-images.githubusercontent.com/574147/112817480-c4fd1280-9082-11eb-9684-3e06720d281c.png)

[2021-03-29 09:36] zielu commented on #302
@diskostu yes, moved under Version Control now

[2021-03-29 09:53] zielu commented on #302
It might be a good idea to add "dummy" pages in old config location to redirect to new one

[2021-03-29 10:05] diskostu commented on #302
@zielu Thanks for the info, I can see the settings.

For some strange reason, I did not find the GitToolBox settings when searching for the name in the settings search field. Now, it works. 🤷‍♂️

I like the new location, makes sense. 😊

[2021-03-29 10:05] #302 closed

[2021-03-30 13:41] allanlaal commented on #201
can confirm @zielu -s Git → Annotate: On → gutter rightclick → options: ☑ Ignore Whitespaces

tested with newest IDEA

this issue can be closed

[2021-04-07 14:35] zielu commented on #226
Released in 203.5.3

[2021-04-07 14:35] #226 closed

[2021-04-08 13:11] Spurlos commented on #296
Got same exception thrown while using 203.5.3
[code]

[2021-04-08 13:28] zielu commented on #296
Hmm, cannot reproduce atm.

[2021-04-10 06:50] trailsnail commented on #185
Until solution available, you can use https://plugins.jetbrains.com/plugin/10059-git-branch-cleaner

[2021-04-12 06:59] AndrewTseZhou opened #303 "It can't be displayed at the end of line in Android studio"
Android Studio: 4.1.3
OS version: Mac OS Big Sur 11.2.3

Problem:  When using Android Studio to write flutter project, dart file often appears the problem that git submission information cannot be displayed at the end of line

[2021-04-12 07:12] zielu commented on #303
Hi, I'll take a look

[2021-04-12 07:18] AndrewTseZhou commented on #303
Yes, I have git roots correctly. When appears this problem, I have to close the file, and reopen it, then inline blame work.

[2021-04-16 01:19] sk163 opened #304 "Auto fetch exclusions -add remote invalid"
Auto fetch exclusions add remote invalid

the project has more remotes,eg. internet remote and local area remote

add one remote invalid,can‘t save config, the [Apply] button is disabled

the plugin version is 203.5.3

[2021-04-16 01:24] sk163 commented on #304
![image](https://user-images.githubusercontent.com/2271609/114958443-990cca00-9e95-11eb-9fda-53b61982166a.png)

[2021-04-16 08:35] zielu commented on #304
Fixed in 203.5.4

[2021-04-16 08:35] #304 closed

[2021-04-16 08:52] sk163 commented on #304
java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:197)
	at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.createStep(PopupFactoryImpl.java:275)
	at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.<init>(PopupFactoryImpl.java:216)
	at com.intellij.ui.popup.PopupFactoryImpl$Acti

[2021-04-16 09:05] zielu commented on #304
@sk163 Hmm, I saw this resurface - which IDE and OS are you on ?

[2021-04-16 09:10] sk163 commented on #304
IDE: IDEA 2021.1
OS: MacOS 10.15

i added one remote  in Auto fetch exclusions,when manual execution fetch ，occurs exception

[2021-04-16 09:12] sk163 commented on #304
![image](https://user-images.githubusercontent.com/2271609/115002033-dc3b5d00-9ed6-11eb-9492-4d52f4762824.png)

[2021-04-16 09:12] zielu commented on #304
it is not really relevant to exclusion - other issue that I cannot reproduce locally :/

[2021-04-16 09:14] sk163 commented on #304
![image](https://user-images.githubusercontent.com/2271609/115002250-199fea80-9ed7-11eb-8938-bc3628e91f8e.png)

Every time the button is clicked, an exception occurs

[2021-04-16 10:33] zielu opened #305 "java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep"
`
java.lang.Throwable: Assertion failed: dataContext has no component for new ListPopupStep
at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:197)
at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.createStep(PopupFactoryImpl.java:275)
at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupPopup.(PopupFactoryImpl.java:216)
at com.intellij.ui.popup.PopupFactoryImpl$ActionGroupP

[2021-04-16 10:34] zielu commented on #304
@sk163 will be tracked in #305

[2021-04-16 10:35] zielu commented on #296
Will be tracked in #305

[2021-04-16 13:03] sk163 commented on #304
nice ^_^ thanks

[2021-04-16 13:32] zielu commented on #305
@sk163, @Spurlos please switch to EAP builds and check if the issue is solved: https://github.com/zielu/GitToolBox#eap-builds

[2021-04-17 09:59] sk163 commented on #305
nice,thanks! i'm try this version,it's fixed,not exception occurred.

[2021-04-19 14:01] isac322 opened #306 "gitmoji as unicode configuration is missing"
I can't find `Complete gitmoji as unicode` label on `Settings`. (string that found on https://github.com/zielu/GitToolBox/commit/7be510aea6c74ea0813e7055907de20b2d1909f4)

![image](https://user-images.githubusercontent.com/4602209/115248951-1e78ce80-a163-11eb-8fd8-ec077c74d847.png)

[code]

[2021-04-19 15:00] zielu commented on #306
Oops, looks like I lost a setting :/

[2021-04-20 06:51] CasperWSchmidt commented on #305
I have this issue as well. Any ETA for an update in Rider?

[2021-04-20 06:55] maxwong commented on #305
I encountered the same issue but the version delta and inline blame looks fine. Could you share a list of what functionalities are affected? Thanks :)

[2021-04-20 06:56] zielu commented on #305
This is only if you try to use popup from Git Status statusbar widget.

[2021-04-20 07:04] zielu commented on #305
Fixed in 203.5.7. Should be up shortly

[2021-04-20 07:04] #305 closed

[2021-04-20 07:05] sebastiangdot commented on #305
Got the error. Took me about 10 seconds to find EAP repository reference in your well built docs. Saw it fixed. @zielu you're excellent! Keep up the great work. :heart_eyes:

[2021-04-20 11:51] zielu commented on #306
Done in 203.5.8

[2021-04-20 11:51] #306 closed

[2021-04-20 12:46] isac322 commented on #306
It works! thanks for your work!

[2021-04-23 03:20] maxwong commented on #305
Thanks for the great work

[2021-04-25 06:59] mallowigi opened #307 "Options to support?"
Is there any link I can use to support the project? Thanks

[2021-04-29 14:16] amorek opened #308 "Feature Request: Merge Conflicts View"
If possible, it would be great to have view which contains only files with merge conflicts:
![image](https://user-images.githubusercontent.com/4470967/116565387-1c9ed000-a906-11eb-826d-f350539d8c49.png)

[2021-04-29 14:20] zielu commented on #308
Hi, you mean the case when branch is merged and there are conflicts in the workspace ?

[2021-04-29 14:29] amorek commented on #308
@zielu Correct.

[2021-04-29 14:37] wjdp commented on #168
Hey, came looking for this feature and found this issue. I would not have worked this out on my own without this thread. Might be nice to add some explainer text to the auto fetch tab?

[2021-04-29 14:56] zielu commented on #168
Hi, in latest version there are dedicated buttons for remotes to avoid double function of same controls, but I agree it could be improved. Maybe context menu on repo node would help. Wdyt ?

[2021-04-29 20:37] zielu commented on #168
Also there was a tooltip to indicate all remotes are excluded, but I'm going to add that information into the tree:
<img width="508" alt="image" src="https://user-images.githubusercontent.com/464103/116615314-65bd4700-a93b-11eb-9502-01205efe15f6.png">

@wjdp does it make it clearer ?

[2021-04-30 12:52] wjdp commented on #168
I think so yes.

The mental jump I failed to make is the list isn't flat. I clicked the plus and saw a list of git repos in the project and just assumed there was no support for remote exclusions, only repos.

[2021-05-05 10:03] amorek commented on #308
@zielu Alternatively view for all unstaged files would work as well.

[2021-05-05 17:39] survivant opened #309 "bitbucket cloud : kex_exchange_identification: read: Connection reset by peer"
I have trouble with few git modules in Intellij 2021.

I received those error messages

[code]

Here the path of my git remote
[code]

If I try in command line there is no problem.
[code]

Here my intellij info +plugins version
[code]

[2021-05-05 17:43] zielu commented on #309
Hi, first check if running fetch from IDE shows same error. There is zero custom code for doing fetch inside the plugin.

See https://github.com/zielu/GitToolBox/wiki/Manual#login-popup-is-shown-every-few-minutes

[2021-05-05 18:13] survivant commented on #309
look like a regression bug in IntelliJ.  The pull works but not the fetch (work in command line)

[2021-05-05 18:15] #309 closed

[2021-05-06 07:14] zielu opened #310 "Improve auto-fetch exclusions UI"
There is an issue with flow of this UI
1. user first selects a repository -  this means he actually excluded ALL remotes
2. when repository is selected user can select remotes - this switches exclusion to "selected remotes" mode

So logically it goes from everything (including any future remotes) to specific ones.
The mental jump that needs to be taken is that UI is not a list but a tree.

To impr

[2021-05-06 07:15] zielu commented on #168
I created new issue describing UI improvement to remove that mental jump #310

[2021-05-14 21:31] zielu commented on #185
Released to EAP channel https://github.com/zielu/GitToolBox#eap-builds in 203.5.9

[2021-05-14 21:47] zielu commented on #185
TODO:
- [ ] branch inactivity period configuration
- [ ] project-level config overrides

[2021-05-15 04:12] #248 closed

[2021-05-18 01:03] ForteScarlet opened #311 "Error on startup"
IDEA:  `2021.1.1`
version:  `203.5.8`
stacktrace:
[code]

[2021-05-18 06:59] zielu commented on #311
Hi, could you add a screenshot of About IntelliJ IDEA popup ?

[2021-05-18 07:04] ForteScarlet commented on #311
![1](https://user-images.githubusercontent.com/40045247/118606623-3c7d3180-b7ea-11eb-8315-394c03b775c5.png)
![2](https://user-images.githubusercontent.com/40045247/118606639-40a94f00-b7ea-11eb-9dde-2176fab022a6.png)
Like this?

[2021-05-18 07:21] zielu commented on #311
This one :)

[2021-05-18 07:26] ForteScarlet commented on #311
i'm sorry
![3](https://user-images.githubusercontent.com/40045247/118609348-376db180-b7ed-11eb-81f5-3e69c0c2520f.png)

[2021-05-20 14:30] umutkirgoz opened #312 "Always throws exception in PHPStorm"
Plugin version: 203.5.8
PhpStorm Version : 2021.1.2

**Stack Trace:**
`java.lang.AssertionError: Current revision can't be null in DETACHED state, only on the fresh repository.
	at git4idea.branch.GitBranchUtil.getDisplayableBranchText(GitBranchUtil.java:181)
	at zielu.gittoolbox.ui.projectview.NodeDecorationBase.getDetachedStateBranchText(NodeDecorationBase.java:87)
	at zielu.gittoolbox.ui.projec

[2021-05-20 14:39] zielu commented on #312
Hi, so is your repository in detached state ? Does it have any commits in there ?

[2021-05-21 08:37] KingOfGitH commented on #311
我也遇到了这个问题

[2021-05-21 09:08] zielu commented on #311
So it looks like it is somehow related to changing IDE locale to different than english. I'll try to find time over weekend to dig into this.

[2021-05-21 18:45] zielu commented on #311
https://youtrack.jetbrains.com/issue/IDEA-268744

[2021-05-21 19:08] zielu opened #313 "[Feature] Cleanup of old branches - more configuration"
TODO:
- [x] outdated branches selection mode [always, on demand]
- [x] confirm outdated branches selection

Split to separate tasks
- [x] #362
- [x] #361

[2021-05-21 19:56] zielu commented on #311
Done in 203.5.10

[2021-05-21 19:56] #311 closed

[2021-05-21 19:57] zielu commented on #312
Done in 203.5.10

[2021-05-21 19:57] #312 closed

[2021-05-21 19:57] zielu commented on #185
Done in 203.5.10

[2021-05-21 19:57] #185 closed

[2021-05-22 15:09] mallowigi commented on #307
bump

[2021-05-25 20:41] ilyarrgh opened #314 "When the plugin is turned on, Resolve Conflicts... in VCS/context does not work properly"
Not sure if this has been brought up in the past, or if it has already been fixed since it last happened to me about a month ago.
 I've had issues using built in merge when this plugin is turned on.

To reproduce run `git merge <branch>`.  This merge needs to result in unresolved conflicts.  Normally you are able to select `Resolve Conflicts...` from either the context menu, or from `VCS`.  This d

[2021-05-26 05:08] zielu commented on #314
Hi, so `Resolve` was visible but disabled ?

[2021-05-26 12:44] ilyarrgh commented on #314
I believe so

[2021-05-27 18:31] zielu commented on #314
So now the question is if disabling and restarting helped or just restarting 😀

[2021-05-27 19:46] ilyarrgh commented on #314
I actually just had to do this and seems good to go.  Wish I had taken notes before.  Anyway, I think it's working great!  Love the plugin, by the way.

[2021-05-29 18:46] zielu commented on #307
Hi, I'm exploring support options. First step in that direction is close-sourcing of the plugin effective today.

[2021-05-30 11:21] #307 closed

[2021-05-31 19:24] zielu opened #315 "Support 2021.2"
Support 2021.2 EAP

[2021-06-01 10:03] zielu commented on #315
GitRepository interface added / removed deprecated version - in order to avoid merging matrix build will be introduced.

[2021-06-02 14:50] ForsakenHarmony commented on #307
Does this mean you'll make it paid in the future?
If you do, I'd really appreciate having a one time price, not a subscription

[2021-06-02 14:56] zielu commented on #307
I'm considering having free and paid versions. With features being available in both but with different convenience level. For example:
- free: branch cleanup with UI action
- paid: branch cleanup on schedule, configurable period after which branch is considered outdated

I will NOT remove existing features and make them paid. Just any new additions will follow model outlined above.

For now plugi

[2021-06-02 15:21] mallowigi commented on #307
I'm looking forward to it. In the meanwhile contact me whenever you have a support page, I'll gladly support you.

[2021-06-03 18:04] WilFonseca opened #316 "Unable to authenticate thru SSH in login"
I'm working with a repo that is located in GitHub Enterprise, and for login I use the company's authentication process, hence my account doesn't have a password that I can use to authenticate. Normally for this kind of scenarios I have set my SSH authentication, but the plugin doesn't seem to recognize it as it stills asking me constantly to login despite the plugin features work as expected.

Is

[2021-06-03 18:06] zielu commented on #316
Hi, plugin uses built in IDE features for fetching. See https://github.com/zielu/GitToolBox/wiki/Manual#faq

[2021-06-08 14:49] zielu commented on #315
It's out in EAP channel: https://github.com/zielu/GitToolBox#eap-builds

I did not push to release channel because it is first release from private repo

[2021-06-08 14:49] zielu commented on #315
Matrix build needs more work so it's old-style release from branch

[2021-06-09 10:39] theo-3 opened #317 "Feature request: Auto-Fetch all remotes immediately when project is opened"

[2021-06-09 11:08] zielu commented on #317
Hi, first auto-fetch is executed after a delay that is dependant on number of repositories, but no less than 10 sec.
Formula for duration in seconds is `Math.round(Math.max(10, Math.log(reposCount) * 6 + 1))`

[2021-06-09 11:19] theo-3 commented on #317
Hi! Sorry, I just tested it with a private repo and it does fetch when opened. My main branch was tracking my fork instead of the upstream.

[2021-06-09 11:19] #317 closed

[2021-06-09 12:46] theo-3 commented on #317
Why isn't the first auto-fetch executed as soon as it can be though? The delay is a bit confusing.

[2021-06-09 17:58] zielu commented on #317
There was an issue in the past about slow IDE start that was directly related to fetching too soon, but it makes sense to decrease min time. It will improve single repo situation.

[2021-06-09 18:11] theo-3 commented on #317
Maybe add an option in the settings menu to disable the delay with an explanation of the slow start problem. Shouldn't the plugin only start doing stuff after the IDE has been initialized though? Or was the IDE not opening until all the repos were fetched

[2021-06-09 23:53] KotlinIsland commented on #315
`Failed to load plugins from 'https://github.com/zielu/GitToolBox#eap-builds': org.xml.sax.SAXParseException; lineNumber: 82; columnNumber: 89; Attribute name "data-pjax-transient" associated with an element type "meta" must be followed by the ' = ' character.`

[2021-06-10 06:56] hankuksui opened #318 "show complete commit message when mouse hover"
pop a window and show all line of the message when mouse hover last for 300 ms maybe
![show](https://i0.hdslb.com/bfs/album/f859547c81f8d0a59d96a1f2e5d3ed9f67214f8f.png "show")
![actual](https://i0.hdslb.com/bfs/album/c683cddb75fa83c7d8a58694f2a83ce028f26e4f.png "actual")

[2021-06-10 07:46] zielu commented on #318
There is `Show Blame Details` action that does that and more

[2021-06-10 07:46] zielu commented on #318
I might add this when #268 is done

[2021-06-11 01:47] hankuksui commented on #318
great, thank you

[2021-06-11 11:35] aaronols opened #319 "Indefinite UI freeze (GitToolbox 212.6.1 on IntelliJ 212.4037.9)"
Hello zielu,

I am sad to see this wonderful plugin go closed-source.
But I understand that you value your time and resources.
Your work makes my day easier and i want to thank you for that.

Now with the latest version (212.6.1) of the plugin running on the latest IntelliJ 2021.2 EAP (212.4037.9), I observed an indefinite ui freeze.
It may have been a deadlock because there was <1% cpu usage.

Th

[2021-06-11 12:47] zielu commented on #319
Thank you for kind words !

I'll take a look what is wrong.

[2021-06-11 13:15] zielu commented on #319
Ok, I think I know what is wrong - nasty concurrency issue if invocations of `git` take long

[2021-06-11 15:32] fabiopedrosa opened #320 "Git branch cleanup - sort by elapsed time"
Quite simple, but order the branches shown in the cleanup popup from most recent to less recent, so I can just delete older ones without having to examine its date.

[2021-06-11 16:32] zielu commented on #320
I'll do it merged, outdated and each group will be sorted by time as you describe

[2021-06-13 19:44] zielu commented on #319
Done in 212.6.4

[2021-06-13 19:44] #319 closed

[2021-06-14 11:16] zielu commented on #315
Done, supported in matrix build

[2021-06-14 11:16] #315 closed

[2021-06-14 12:27] zielu opened #321 "Trigger first auto-fetch faster"
Current algorithm uses the formula: `Math.round(Math.max(10, Math.log(reposCount) * 6 + 1))`. Discussion in #317

Delay spread in relation to repo count is:
- 1: 10 (would be 1 from right-hand side)
- 2: 10 (would be 5 from right-hand side)
- 3: 10 (would be 8 from right-hand side)
- 4: 10 (would be 9 from right-hand side)
- 5: 11

so small amount of repositories is unfairly penalised for question

[2021-06-14 12:43] zielu commented on #317
IDE initialisation is a tricky thing because lots of things are happening concurrently and even after opening project progress bar. I created #321 and will just remove minimum 10 seconds delay. Users with significant amount of repositories won't be affected because for them calculated delay will be higher than 10 sec anyway.

[2021-06-15 18:21] aaronols commented on #319
Thank you for fixing this issue.
Before updating the plugin I got another hang at the same code path.
After updating the plugin this issue has not happened again.

I usually read through your code changes after you fixed bugs that affected me to learn more about how plugins work and how you solve difficult problems.
I am a bit sad that I cannot do that anymore now since the plugin is now closed-so

[2021-06-16 07:47] zielu commented on #319
Issue was in https://github.com/zielu/GitToolBox/blob/202-release/src/main/java/zielu/gittoolbox/cache/PerRepoInfoCacheImpl.java#L65 - computeIfPresent will lock section of ConcurrentHashMap until `git status` and other calls finish and if UI (project view in this case) comes for RepoInto it will block until `git` call is done

[2021-06-18 16:36] sara1068 opened #322 "Show full name for inline blame"
Hello,

I would love the inline blame to show the full name of authors. Currently it's only showing last name, which is rather confusing, given that my team members tend to have same last names due to ethnic reasons. Plus, in a company setting we always address others by first names, so sometimes it takes an extra search to confirm who that author really is - that undermines the power of this tool

[2021-06-18 16:43] zielu commented on #322
Hi, checkout plugin configuration in `Settings / Version Control / GitToolBox`, Blame tab - there are multiple options to choose from.

[2021-06-18 16:45] sara1068 commented on #322
Hi zielu,

Thanks! Now it works! I didn't know how to configure GitTool Box.

[2021-06-18 16:45] zielu commented on #303
Checkout one of 202 plugin line - in should be available in android studio 4.2.1

[2021-06-18 16:45] zielu commented on #316
No feedback, closing

[2021-06-18 16:45] #316 closed

[2021-06-18 17:00] zielu commented on #322
Glad to help !

[2021-06-18 17:00] #322 closed

[2021-06-21 10:04] lddsb opened #323 "Show the uncommitted changes"
just like the vscode GitLens plugin do:
![image](https://user-images.githubusercontent.com/20765867/122744951-16e8b980-d2bb-11eb-8773-0265bd7a0f66.png)

[2021-06-22 19:54] zielu commented on #323
Hi, so it's like file modification timestamp or is it more accurate and tracks line modification ?

[2021-06-22 22:18] KotlinIsland opened #324 "Exception in plugin 212: Cannot create property=gitmojis for JavaBean=Gitmojis(gitmojis={})"
version: 212.6.5

<details><summary>exception text:</summary><pre>
Cannot create property=gitmojis for JavaBean=Gitmojis(gitmojis={})
 in 'reader', line 1, column 1:
    gitmojis:
    ^
No JavaBean properties found in zielu.gittoolbox.h.a.i
 in 'reader', line 2, column 3:
      alembic:
      ^

	at org.yaml.snakeyaml.constructor.Constructor$ConstructMapping.constructJavaBean2ndStep(Constructor.ja

[2021-06-23 03:31] lddsb commented on #323
Looks like file modification timestamp, more accurate and tracks line modification is better. File modification timestamp is enough.

[2021-06-23 20:41] zielu commented on #324
I obfuscated too much, fix incoming.

[2021-06-24 13:07] zielu commented on #324
Done in variant.6.6

[2021-06-24 13:07] #324 closed

[2021-06-24 13:07] zielu commented on #321
Done in variant.6.6

[2021-06-24 13:07] #321 closed

[2021-06-24 13:07] zielu commented on #320
Done in variant.6.6

[2021-06-24 13:07] #320 closed

[2021-07-16 09:59] sunxyw commented on #277
Same issue here. Any available solution?

[2021-07-16 10:37] zielu commented on #277
Depends on IDE version - I have almost completed usage of new API for rendering inline blame that should solve this. But it will be only for 2020.3 and 2021.x IDEs. Ports to 2020.2 it too much effort.

[2021-07-16 10:50] sunxyw commented on #277
I am using PHPStorm 2021.1.4 and GitToolBox 203.5.10, this issue still exists.
![圖片](https://user-images.githubusercontent.com/31698606/125936488-2a9436c3-0632-431b-8fa1-1ff76f5bd8db.png)
![圖片](https://user-images.githubusercontent.com/31698606/125936677-c26794eb-0bc1-438e-bb7f-af8b2c922553.png)

[2021-07-21 18:24] johncazier12 commented on #233
I would like to see this in Android Studio - it would also be nice if you could ignore changes for a changelist

[2021-07-27 07:32] zielu commented on #277
@sunxyw Can you switch to EAP channel (as described here https://github.com/zielu/GitToolBox#eap-builds) and try with 203.7.0 ?

[2021-07-27 08:02] sunxyw commented on #277
I updated to 203.7.0 but it still exists.
![圖片](https://user-images.githubusercontent.com/31698606/127118500-9bfe4915-b443-474d-8646-081b72b17613.png)

[2021-07-27 08:05] zielu commented on #277
One more setting to change: Preferences > Version Control > GitToolBox > Blame tab - Style > Inlay

[2021-07-27 08:13] sunxyw commented on #277
@zielu The color appears correctly now. But it seems that it can't display the characters.
The blank box should be "初始化项目".

![圖片](https://user-images.githubusercontent.com/31698606/127120119-e7bc4329-efa3-49c2-8290-ac5d7220a589.png)

[2021-07-27 08:23] zielu commented on #277
Ok thanks for trying, looks like I will need to look into unicode rendering

[2021-07-27 08:30] sunxyw commented on #277
@zielu Jetbrains Mono

![圖片](https://user-images.githubusercontent.com/31698606/127122356-1c651542-d100-43c2-abaf-0c77210358f0.png)

[2021-07-27 09:53] zielu commented on #277
@sunxyw I cannot reproduce it :/ - which OS are you using ?

[2021-07-27 10:03] sunxyw commented on #277
@zielu Win10 21H1 (Build 19043.1110)

[2021-07-27 10:25] zielu commented on #277
@sunxyw also please share locale you are using

[2021-07-27 10:48] sunxyw commented on #277
@zielu In the order of setting:

- Chinese (Traditional, Taiwan)
- Chinese (Simplified, China)
- English (US)
- Japanese

Screenshot of Setting > Time & Language > Language:
![圖片](https://user-images.githubusercontent.com/31698606/127141695-5f72a4b8-8189-49b0-adf0-bcdee7febcd2.png)

[2021-07-27 18:53] zielu commented on #277
I managed to reproduce it with legacy rendering mode on fresh Windows 10 install even on default english locale on blame-test project.
<img width="836" alt="image" src="https://user-images.githubusercontent.com/464103/127211406-439ceb89-6039-434f-a7c3-6e7cbbbc7027.png">

[2021-07-27 18:55] zielu commented on #277
Boxes instead of letters with inlay rendering mode too:
<img width="836" alt="image" src="https://user-images.githubusercontent.com/464103/127211669-4042dbbe-91c2-476a-8bca-2f513f5dc665.png">

[2021-07-27 18:55] zielu commented on #277
Looks like it is a "windows thing" - I think I have enough to investigate now :)

[2021-07-28 09:18] sunxyw commented on #277
Thank you for your time and effort. Please take your time, this is not an urgent matter.

[2021-07-29 20:01] zielu commented on #277
@sunxyw you can try 203.7.1 from EAP channel - it should be good now with Inlay style.

[2021-07-30 00:49] Leon99 opened #326 "Inconsistent status icon"
Git status icon looks "3D" while all others are flat, spoils otherwise perfect UX in Rider.

![image](https://user-images.githubusercontent.com/6840381/127583257-c5b5667d-68a4-49a5-8766-e221998a09af.png)

[2021-07-30 02:03] hersh412 opened #327 "Account Lockouts When GitToolBox installed"
Hello,

I've had this issue for a little over 2 years now. Running a 2018 Macbook Pro with OSX 10.15.7. I just downloaded the newest version of IntelliJ Idea Community Edition 2021.2 and figured I would try GitToolBox again. However, I had to uninstall it. When I have IntelliJ open with GitToolBox installed, my domain account will continually be locked out at the enterprise level. The Github passw

[2021-07-30 03:49] zielu commented on #327
Hi, my guess would be that auto-fetch running at set intervals is flagged as an attack. You can try disabling it.

[2021-07-30 03:51] zielu commented on #326
Hi, I'll add flat icon variants

[2021-07-30 06:43] timo-rohwedder opened #328 "Submodules showing branch name of parent project"
Hi!

I'm not sure if this is a bug, a misconfiguration or something special in my individual setup.
This happens since I updated to IntelliJ 2020.2. I am using the latest EAP Version of GitToolBox and also tried to downgrade to the latest stable version.

I have an aggregator pom as an intellij-module in my project and also all the modules inside the aggregator pom.

Some (the most) of the submodu

[2021-07-30 06:49] zielu commented on #328
Hi, this falls into category of known issue. Logic is very simple there: if something is a module it shows branch. For multimodule projects this is confusing. I'll take a look if it can be hidden when module is child of another module.

[2021-07-30 08:14] Leon99 commented on #326
Many thanks @zielu! Looking forward to seeing it.

[2021-07-30 09:04] sunxyw commented on #277
@zielu Yes. It works well now. Thank you for your help.

[2021-08-05 19:23] zielu commented on #300
Done for 203 and 212

[2021-08-05 19:23] #300 closed

[2021-08-05 19:24] zielu commented on #277
Done in (203/212).7.4

[2021-08-05 19:24] #277 closed

[2021-08-05 19:25] zielu commented on #268
Done in (203/212).7.4

[2021-08-05 19:25] #268 closed

[2021-08-05 19:25] zielu commented on #267
Done in (203/212).7.4

[2021-08-05 19:25] #267 closed

[2021-08-05 19:27] zielu commented on #224
Fixed by #268 in (203/212).7.4

[2021-08-05 19:27] #224 closed

[2021-08-05 19:28] zielu commented on #220
Possible because #268 is done

[2021-08-05 19:29] zielu commented on #223
No response, closing

[2021-08-05 19:29] #223 closed

[2021-08-05 19:32] zielu commented on #318
Unblocked by #268

[2021-08-05 19:32] zielu commented on #327
Did disabling auto-fetch help ?

[2021-08-05 19:34] zielu commented on #314
Ok, closing then

[2021-08-05 19:34] #314 closed

[2021-08-05 23:11] hersh412 commented on #327
Yes that has resolved my issue, thank you.

[2021-08-05 23:11] #327 closed

[2021-08-06 01:21] houkunlin opened #329 "Chinese display garbled"
Plugin Version : 212.7.4
IDE: IntelliJ IDEA 2021.2 (Ultimate Edition)、WebStorm 2021.2

中文显示乱码
Chinese display garbled
![idea64_dz9tVUYOSB](https://user-images.githubusercontent.com/12333292/128441490-00056025-2360-49c8-8569-5a449973d010.png)

[2021-08-06 01:22] houkunlin commented on #329
今天更新了插件的最新版本，更新后显示中文乱码，在上一个版本中未存在此问题，在上一个版本中一切正常；

The latest version of the plug-in was updated today. After the update, Chinese garbled characters are displayed. This problem does not exist in the previous version, and everything is normal in the previous version.

[2021-08-06 02:08] changshunxu520 commented on #329
+1
The latest version of the plug-in was updated today. After the update, Chinese garbled characters are displayed. This problem does not exist in the previous version, and everything is normal in the previous version.

[2021-08-06 02:25] chenyanli587 commented on #329
中文乱码的问题貌似是今天更新完插件出现的
![QQ截图20210806102433](https://user-images.githubusercontent.com/8829268/128446563-08079ad9-8b72-4961-8121-bc0ab229b1f1.png)

[2021-08-06 02:26] changshunxu520 commented on #329
我认为这版本的插件没有支持 FallBackFont中设置的字体，仅仅是支持了MainFont 设置的字体，所以导致中文乱码。你可以把主字体设置为支持中文的，它就能正常显示了。
I think this version does not support FallBackFont, it just uses MainFont ，So it causes Chinese garbled。You can set the main font to support Chinese, and it will be displayed normally.

[2021-08-06 02:28] houkunlin commented on #329
我目前的IDEA、WebStorm都是安装了中文插件包，所有的中文（菜单、设置、编辑器）都是显示正常

[2021-08-06 02:30] changshunxu520 commented on #329
我知道，你可以按照我说的去尝试一下呢？我认为是插件的问题，在没有修复之前可以按照我说的去试试呢？

[2021-08-06 02:35] houkunlin commented on #329
试了确实能用，只能当作临时的解决方案了，换了一个字体后突然有点不适应

[2021-08-06 02:37] changshunxu520 commented on #329
我也是一样感觉很难受,等着修复吧，我觉得应该很快就会修复的吧

[2021-08-06 02:39] houkunlin commented on #329
@changshunxu520 目前的办法也就只能等下一个版本修复了

[2021-08-06 02:40] chenyanli587 commented on #329
换字体就算了，还是等着作者修复吧，现在只是一行代码看着不舒服，换字体是满屏不舒服。

[2021-08-06 02:44] changshunxu520 commented on #329
@chenyanli587 或者大家可以选择降级回去，哈哈

[2021-08-06 02:49] houkunlin commented on #329
我先等几天看看会不会出修复版本，反正今天周五了，下周不修复的话估计要降一个版本了，不然就只能忍着那几个方框了

[2021-08-06 04:19] zielu commented on #329
Can you check if enabling font ligatures solves the issue ?

[2021-08-06 05:08] houkunlin commented on #329
经过测试验证，启用字体连写能够正常显示中文文字，关闭字体连写则中文显示乱码。

After testing and verification, the Chinese characters can be displayed normally when font chaining is enabled, and Chinese characters will be displayed garbled when font chaining is disabled.

![image](https://user-images.githubusercontent.com/12333292/128458860-5d11dd43-4ff1-43af-92a1-9f886e807251.png)

[2021-08-06 05:19] zielu commented on #329
Ok, I'll release the fix today

[2021-08-06 08:26] gmarjano1975 commented on #328
Hi, I got the same problem - but even weirder. I got a parent Module and three submodules. One submodule A changes the branch name in the project view - the two other submodules (B,C) don't. They always show the parent branch name.

I compared the pomfiles of A and B,C and they are the same regarding the <parent>-Tag.

Very confusing. At the moment I must disable the plugin to avoid being on the w

[2021-08-06 08:48] 393480846 commented on #329
可怕的是我发现他不是用的这个字体
![图片](https://user-images.githubusercontent.com/50394882/128484033-85b8d1fe-bf9b-483f-b5a1-43fd5994f177.png)

[2021-08-06 08:56] Eli2021 commented on #329
更新乱码+1

[2021-08-06 09:02] Eli2021 commented on #329
插件版本：212.7.4
![image](https://user-images.githubusercontent.com/25074704/128485837-871e9f5f-aff1-4b3a-bbbc-12c114ce0e8c.png)

[2021-08-06 09:04] zielu commented on #329
212.7.4 will also be affected - same codebase - same workaround

[2021-08-06 09:06] zielu commented on #328
@gmarjano1975 you are probably referring to git submodules. Here issue is with one single repo containing many maven modules.
Git submodules are not supported yet

[2021-08-06 13:10] zielu commented on #329
Done in 203/212.7.5

[2021-08-06 14:19] #329 closed

[2021-08-07 04:40] astroshot opened #330 "two different git project shows the same git repo"
![图片](https://user-images.githubusercontent.com/24741314/128587906-ced1724c-e4d2-4b65-a2f7-c3c1a64f2c4a.png)

Here is my problem:

I have 2 modules not using git submodule. Each of them has its own git upstream project. They just share the same prefix "famg" and they are placed in the same directory(~/Projects/Java/medical). While since 203.6.6 version(I installed 203.7.5 version in the above pict

[2021-08-07 05:52] zielu commented on #328
#330 looks related

[2021-08-07 10:09] timo-rohwedder commented on #328
Duplicate of #330

[2021-08-07 12:14] zielu commented on #328
Let's see if original issue goes away after #330. If not I'll reopen this one.

[2021-08-08 18:37] zielu commented on #330
Done in (203/212).7.6

[2021-08-08 18:37] #330 closed

[2021-08-08 18:37] zielu commented on #328
Reopening this one #330 was a different issue

[2021-08-09 04:21] s-abinash opened #331 "Getting infinite updating..... git status in WebStorm"
I am using this Plugin and only after the recent 2021.2 update, whenever i enable GitToolkit in webstorm, randomly i am facing an issue where, the Changelist in Webstorm shows updating...... and i cannot do anything related to Git
This issue only happens in IDE and not in the console
Also, i am not facing the issue, if i disable the Git toolkit.
![image](https://user-images.githubusercontent.com/5

[2021-08-09 10:18] zielu commented on #331
Hi, please check if there are any freeze dumps generated inside logs directory. You can open it with Help / Show Log in...

[2021-08-09 11:08] 14v commented on #331
Got same issue, additionally Commit progress is stuck infinetly. And commit counter shows 600/8 commits while branch has no changes. No related exceptions in log, no freeze dumps.

[2021-08-09 11:49] zielu commented on #331
Which plugin version ?

[2021-08-09 11:50] 14v commented on #331
212.7.6

[2021-08-09 16:01] lars-reimann commented on #331
Since updating to the 2021.2 version I have the same issue with this plugin in PyCharm, WebStorm and IntelliJ.

Here's one of the freeze dumps:

[threadDump-20210806-182759.txt](https://github.com/zielu/GitToolBox/files/6955790/threadDump-20210806-182759.txt)

[2021-08-10 03:14] s-abinash commented on #331
When I written this to JetBrains, after checking the Log Dump, they said there is no issue with Git Toolkit. But it perfectly seems there is an issue with the plugin. Once I remove or disable it, everything works fine to the mark.

[2021-08-10 06:30] zielu commented on #331
JB is correct - thread dump does not contain any plugin traces. Everything seems to wait on checking git version under wsl in ApplicationImpl pooled thread 11.
One idea - does changing Blame style to Legacy help ? This was only major change done recently.

[2021-08-10 06:44] 14v commented on #331
It reproduced with plugin disabled. Seems not related to the plugin, but maybe you can help to debug it? E.g. why wrong files count appear. Bug is on large project, other smaller ones does not reproduce.

[2021-08-10 06:47] zielu commented on #331
Command that is executed is described here https://github.com/zielu/GitToolBox/wiki/Manual#git-status-display.
This might depend on parent branch too. Wiki page describes what it is.

[2021-08-10 06:53] s-abinash commented on #331
Could be, but once i uninstalled, everything seems fine for the past 5 days. But now i checked again for the same project with plugin installed, getting the issue again.

[2021-08-10 06:53] s-abinash commented on #331
How could we change that?

[2021-08-10 06:55] zielu commented on #331
In plugin settings, check the manual in wiki where to look for settings

[2021-08-10 06:57] zielu commented on #331
@s-abinash keep is disabled then. I'll take deeper  look when I have so time, probably around September.

[2021-08-10 06:58] 14v commented on #331
`git rev-list origin...HEAD --left-right` shows 30/2 commits, plugin status - 600/8

[2021-08-10 07:07] zielu commented on #331
For master if you have default changelist only it would be master...origin/master

[2021-08-10 07:23] 14v commented on #331
`git rev-list bugfix/myissue...origin/bugfix/myissue --left-right` is empty, status is 600/8

[2021-08-10 08:32] 14v commented on #331
After uninstall can not install back, got an error
![image](https://user-images.githubusercontent.com/4716175/128834851-03d284d2-5f54-4ee2-855e-bd061c0edeae.png)

[2021-08-10 11:40] zielu commented on #331
@14v which IDE version are you using exactly ?

[2021-08-10 14:14] 14v commented on #331
No, from marketplace search

[2021-08-11 07:13] samolisov opened #332 "Commit message validation: multiline commit messages aren't allowed"
Dear GitToolBox plugin developers,

I'm trying to use GitToolBox in IntelliJ IDEA and get a lot of false positive commit message validation reports. I played a bit with the validation regexp and have found no way to pass a message with a body, not only the header line. So, the header line validates fine regarding to my regexp but when I skip a line, as git suggests, and write something, the plugin

[2021-08-12 08:28] 14v commented on #331
When I click install on plugin homepage
![image](https://user-images.githubusercontent.com/4716175/129164446-02efe0da-55bf-434d-a650-34a2745981a4.png)

[2021-08-13 08:06] 14v commented on #331
Wrong changed files count also reproduces on 203.7.6

[2021-08-16 19:16] zielu commented on #332
Hi, I'll check what options are used to create the regexp. I suspect miltiline or dot all is missing.

[2021-08-17 10:30] matejdro opened #333 "Access denied error"
IntelliJ just threw this error at me:

[code]

I don't know if it affects anything, nor do I know how to reproduce it. My setup:

[code]

[2021-08-17 11:22] zielu commented on #333
Hi, must be some non standard jmx security policy. It has no impact on functionality. I'll extend allowed operations checks to prevent this error.

[2021-08-20 02:56] akay0214 opened #334 "Where is "Add to .gitignore" button?"
Omg, spent about an hour looking for this button.

[2021-08-20 06:28] zielu commented on #334
Hi, it's not provided by my plugin, never was. You need .ignore plugin for that.

[2021-08-20 08:17] 14v commented on #331
When switched back to 2021.1 commit progress stuck same as on 2021.2. Invalidate caches, uninstall plugin does not help. Is there any VCS cache to clean?

[2021-08-20 13:34] akay0214 commented on #334
Hi @zielu , could you please add this button? It will improve the value a lot, it's one of those essential thing most devs are looking for. Thanks.

[2021-08-20 13:44] zielu commented on #334
Hi, sorry but I won't be duplicating feature already available in Jetbrains plugin. I see little value in this.

[2021-08-20 13:44] #334 closed

[2021-08-20 13:47] akay0214 commented on #334
@zielu  I don't think it's a duplicate. **.ignore** plugin just allows you to generate the file. I was talking about working with the project directory. For instance, right click on the file/directory and add it to the gitignore, instead of going to the file and specify ignore paths manually.

[2021-08-20 13:50] zielu commented on #334
From .ignore plugin description:
`Add a selected file/directory to Gitignore rules from the popup menu`

[2021-08-22 00:47] SuperJoJoD opened #335 "Where is the pop-up up-to-date?"
I cannot find the pop-up up-to-date when the mouse hovers on the up-to-date.
I use this feature much in the previous version.
How can I get it again the latest version?

Best regards,
JJD

[2021-08-22 14:26] zielu commented on #335
Hi, you mean popup on hovering on statusbar ? I'll take a look what happened.

[2021-08-23 17:58] 14v commented on #331
Seems the issue in .idea/workspace.xml GitToolBox settings. They get corrupted when updated to 2021.2. Then I switched back to 2021.1 and restored workspace.xml and got bug on previous version. Now I checked plugin after deleting .idea and it worked well without infinite updating and hundreds of changed files in status.

[2021-08-23 18:10] zielu commented on #331
My plugin only stores settings in there. Status is cached but it is in-memory and recreated each time project is opened. Maybe issue was in Git integration settings.

[2021-08-24 10:11] zielu commented on #331
@14v do you still have logs leftover from time that issue was occuring ? Maybe there is some exception that could explain this.

[2021-08-25 08:49] 14v commented on #331
Have seen no exceptions about git in logs that time. In 2021.2 added vcs log cache, maybe it is related
![image](https://user-images.githubusercontent.com/4716175/130759303-d3768c40-8856-4e43-900a-78851d304678.png)

[2021-08-26 11:38] boardtc opened #336 "Disable while stash/rebasing?"
I wanted to do a git stash & rebase and I was worried the auto-refresh would mess with this?

I could not see a way to disable the plugin in project settings so I disabled the plugin in settings,

Did I need to worry, or would auto-refresh see a rebase was in operation?

Thanks!

p.s I would like to add a question label but I can't edit side options.

[2021-09-01 11:17] zielu commented on #335
@SuperJoJoD looks like I lost it when migrating code to kotlin, fix incoming

[2021-09-02 13:21] zielu opened #337 "Hook into Invalidate Caches... action"
Implement com.intellij.ide.caches.CachesInvalidator that marks data for invalidation on next project open:
- blame cache
- branch cleanup history

[2021-09-06 12:36] zielu commented on #332
There is neither dot all nor multiline set. I'll add support to be able to use these 2 options.

[2021-09-06 19:48] zielu commented on #336
Done in (203/212).7.7

[2021-09-06 19:48] #336 closed

[2021-09-06 19:49] zielu commented on #333
Done in (203/212).7.7

[2021-09-06 19:49] #333 closed

[2021-09-06 19:49] zielu commented on #335
Done in (203/212).7.7

[2021-09-06 19:49] #335 closed

[2021-09-07 13:05] svitalsky opened #338 "NPE for Show Inline Blame with new Idea"
Upon calling (with shortcut) Show Inline Blame I receive NPE (see bellow). IDEA 2021.2.1, GitToolBox 212.7.7.

java.lang.NullPointerException
	at zielu.gittoolbox.config.model.ExtrasBoolConfigOverride.copy(SourceFile:20)
	at zielu.gittoolbox.config.model.ExtrasConfig.copy(SourceFile:14)
	at zielu.gittoolbox.config.model.GitToolBoxConfig2.copy(SourceFile:72)
	at zielu.gittoolbox.w.c.run(SourceFile:

[2021-09-07 13:08] svitalsky commented on #338
Upon consequent calls (again with shortcut) nothing happens.

[2021-09-08 11:51] zielu commented on #338
@svitalsky nothing happens - means it does not work or no error :)

[2021-09-08 12:21] svitalsky commented on #338
@zielu Both, actually. Simply put, upon subsequent use of keyboard shortcut it does not react at all. First → NPE, next → nothing.

Oh, and it is the same both on Linux and Windows, if that's of any consequence.

[2021-09-08 13:16] zielu commented on #338
I've seen this kind of config corruption at least once and it is hard to pin-point. As this part of config is deprecated in next release I will just remove it all together

[2021-09-08 13:27] svitalsky commented on #338
Sorry, does that mean, that this functionality—Show Inline Blame—will not be available any more?

[2021-09-08 13:32] zielu commented on #338
It will be, in essence I will just add workaround to prevent corrupted config from disabling the feature.

[2021-09-08 13:33] svitalsky commented on #338
Great, thanks.

[2021-09-08 19:19] zielu commented on #332
It will look like this
<img width="820" alt="image" src="https://user-images.githubusercontent.com/464103/132571516-9812c8c6-33b1-478a-a0ca-6cca90b980e4.png">

[2021-09-09 11:38] aliusa opened #339 "Cant save "Auto fetch" setting"
Can't save settings after I unchecked "Auto fetch" setting - "Apply" or "OK" doesn't work.
GitToolBox: 212.7.7
PhpStorm: 2021.2.1 (PS-212.5080.71)

[2021-09-09 11:43] zielu commented on #339
Hi, in Version Control / GitToolBox or Version Control / GitToolBox / GitToolBox Project

[2021-09-09 12:38] aliusa commented on #339
Version Control -> GitToolBox
all projects settings

[2021-09-09 12:45] zielu commented on #339
So you uncheck Auto fetch but Apply button does not become active, correct ?

[2021-09-09 12:55] aliusa commented on #339
1. I uncheck "Auto fetch"
2. "Apply" button becomes active (pressable)
3. I try to press "Apply" or "OK"
4. nothing happens

[2021-09-09 12:57] samolisov commented on #332
@zielu Thank you very much for the investigation and suggestions. I've updated the GitToolBox plugin and tried: now the multiline commits can also be checked. I think the issue can be closed.

Thank you again.

[2021-09-09 13:01] zielu commented on #332
Hmm, funny thing - looks like by accident I produced regex that works for multilines too. I''l reopen and close when new validation UI is released - which is very soon :)(

[2021-09-09 13:04] zielu commented on #339
But it is disabled when you reopen configuration ? Because there is no special feedback when auto-fetch is disabled - it just stops being executed.

[2021-09-09 13:14] aliusa commented on #339
It ("Auto fetch" option) is disabled when configuration is reopened. It is disabled because changes haven't been saved because of "Apply"/"OK" buttons not responding.

Tested all GitToolBox options... (global and project scope) - any change will "Apply" button to not respond. :)

[2021-09-09 15:31] zielu commented on #339
What do you mean exactly by ""Apply" button to not respond." - it is grey out or it blocks. A screen recording could help.

[2021-09-10 05:49] aliusa commented on #339
When I press "Apply" - it does not work (does not save settings).
Here's a screenshot - when I pressed "Apply" button - it indicates (blue border) that I pressed, but it does not apply (save) settings.
![image](https://user-images.githubusercontent.com/9768908/132805916-5defeb7c-4020-40fd-b708-1cddd7aaaae0.png)

[2021-09-10 14:34] vivekmore opened #340 "Getting "java.lang.IndexOutOfBoundsException" on resetting (--hard) HEAD to a previous commit"
[code]

----
GitToolBox version: **212.7.7**

**IDE Details:**
IntelliJ IDEA 2021.2.2 RC (Ultimate Edition)
Build #IU-212.5284.31, built on September 7, 2021

Runtime version: 11.0.12+7-b1504.28 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 11.5.2
GC: G1 Young Generation, G1 Old Generation
Memory: 4096M
Cores: 12
Non-Bundled Plugins: FrameSwitcher (3.27.0-203), net.seesharpsoft.int

[2021-09-10 14:48] zielu commented on #340
Fix is already in place, just not yet released. I'll push out EAP version very soon.

[2021-09-10 15:56] vivekmore commented on #340
Did I mention .. your plugin is awesome 👍🏼

[2021-09-13 14:26] zielu commented on #339
Could you gather the logs and attach them ?  I suspect there might be some exception being thrown during save.
See https://github.com/zielu/GitToolBox/wiki/AdvancedManual#accessing-logs

[2021-09-14 05:20] aliusa commented on #339
Bug disappeared as of GitToolBox 212.7.8

[2021-09-17 14:46] zielu commented on #340
Done in (203/212).7.10

[2021-09-17 14:46] #340 closed

[2021-09-17 14:47] zielu commented on #339
Aha the extras config - thing is removed in 212.7.8 :)

[2021-09-17 14:47] #339 closed

[2021-09-17 14:47] zielu commented on #338
Done in (203/212).7.10

[2021-09-17 14:47] #338 closed

[2021-09-17 14:48] zielu commented on #332
Done in (203/212).7.10

[2021-09-17 14:48] #332 closed

[2021-09-19 10:00] svitalsky commented on #338
I am sorry but it is only half-solved: the NPE indeed does not appear any more, however the inline blame does not appear either. Actually, nothing at all happens upon my keyboard shortcut for this functionality. Idea 2021.2.2.

[2021-09-20 07:39] zielu commented on #338
Maybe your git root is not added to version control - see https://github.com/zielu/GitToolBox/wiki/Manual#inline-blame-does-not-work-in-git-directory

[2021-09-20 08:48] svitalsky commented on #338
@zielu It is not either of these: no multiple repos as modules, and my Git root is OK (it does show blame in the status line &c.). However I've learnt in the meantime it behaves even weirder: if I close Idea with inline blame "On" (not really On, as I wrote, nothing happens, visually, that is, but supposedly On) and start it again, the shortcut works as expected—shows and hides inline blame. If ho

[2021-09-20 10:07] svitalsky commented on #338
Just to confirm—the described behavior is the same on Linux and Windows.

[2021-09-20 10:18] zielu commented on #338
I managed to reproduce it - on MacOS too - so it must be smth general related to change propagation when inline blame starts disabled. I'll take a look

[2021-09-20 13:24] zielu commented on #338
@svitalsky root cause identified - fix on the way

[2021-09-21 15:04] lWoHvYe opened #341 "Can't do commit in Idea 2021.2.2 with 212.7.10"
Hi。I can't do commit with the version 212.7.10 while it's ok in 212.7.7。

When I check the Commit button ，It changes to  Commit Anyway，When I check it，nothing happes，

<img width="254" alt="Snipaste_2021-09-21_22-39-55" src="https://user-images.githubusercontent.com/39266195/134196116-176395ad-be9f-497a-98f8-7db1250502a3.png">
<img width="251" alt="Snipaste_2021-09-21_22-40-14" src="https://user-i

[2021-09-21 15:45] lWoHvYe commented on #341
The `Checks failed`  is added by idea，it checks whether there are warning or errors in this commit.
Things goes better after I reinstall the plugin.
Thanks for your help.

[2021-09-21 16:00] #341 closed, assigned to nobody

[2021-09-21 16:46] WilfulTravesty opened #342 "No blame on blank lines?"
Is there any way to disable the blame overlay just on blank lines? I don't find it useful on blank lines and it is distracting because it makes the line look non-empty until my brain processes it.

[2021-09-21 20:09] sendev1 opened #343 "Commits are not showing in Intellij 2021.2.2"
It used to show the commits when I click the line on the file in intellij but its no longer shows that once I updated to Intellij 2021.2.2

[2021-09-22 07:22] zielu commented on #342
Hi, there is no such feature. I'll add it to the backlog

[2021-09-22 07:30] zielu commented on #343
Hi, feature is there and working. As first step you might want to check plugin config if everything looks correct.

[2021-09-22 11:01] mrbscreen opened #344 "212.7.10 seems to break -> commit in IntelliJ IDEA"
See [IDEA-278473](https://youtrack.jetbrains.com/issue/IDEA-278473)

Downgrade to GitToolBox to 212.7.7 fixes the Problem.

What steps will reproduce the issue?
1. Try to commit when there are warnings in your files
2. Click on commit anyway & push
3. The checks will re-run and you have to click it again
What is the expected result?
The warnings will get ignored and the commit process continues.

[2021-09-22 11:23] zielu commented on #344
@mrbscreen so conditions to reproduce this are:
- use non-modal commit interface
- enable Before commit / Analyze code
- have file with warnings

[2021-09-22 11:30] mrbscreen commented on #344
Hi @zielu,

thank you for your response.

That is right, but at least one warning/error is sufficient.

No, it is not enabled. The only enabled option is: “Commit dialog branch completion”.

[2021-09-22 11:38] zielu commented on #344
Ok, I managed to reproduce it. Now I need to understand what is wrong.

[2021-09-22 14:27] sendev1 commented on #343
Thanks, after intelliji update and pulgin was asking for update and then now it works. thanks for quick response. closing this issue

[2021-09-22 14:27] #343 closed

[2021-09-22 14:37] zielu commented on #344
Fixed in 203/212.7.11

[2021-09-22 14:37] #344 closed

[2021-09-22 14:38] zielu commented on #338
Fix in Fixed in 203/212.7.11

[2021-09-23 05:46] Darllao opened #345 "Project View Decoration not working on subrepositories anymore"
I am really not sure what causes this issue, whether it is a wrong configuration or a bug. I have the latest v212.7.11 (tried also with older versions, did not change anything)

I have a git repo containing several git repositories (all are direct children / subfolders of the parent) which have worked perfectly with displaying the _status / numbers of ahead / behind / branch_ etc. in the Project V

[2021-09-23 07:56] zielu commented on #345
Hi, I'll take a look but I don't remember changing anything in that area of code recently.

[2021-09-23 08:19] Darllao commented on #345
Is there anything for me to provide you to assist you in that process? Some information ?

[2021-09-23 08:24] zielu commented on #345
You could enable logging from category `#zielu.gittoolbox.blame.ui.projectView:trace`. https://github.com/zielu/GitToolBox/wiki/AdvancedManual#logging

Close and open the project and wait until status is shown. This should give some idea what is wrong.

[2021-09-23 08:43] svitalsky commented on #338
Seems to be working all right (both Win and Lin). Thanks a lot.

[2021-09-23 09:31] zielu commented on #345
So far cannot reproduce
![image](https://user-images.githubusercontent.com/464103/134484753-e75de08e-15b2-41c9-ab75-28b63aa91e6d.png)

[2021-09-23 09:45] Darllao commented on #345
I created a test repository with several subrepos too and it worked like a charm. I really do not understand why our big project lacks this feature.

What is noticable from the logs I read is that there are a lot of messages considering unsupported nodes, including all the subrepositories which dont have the project view decoration. For example the subdirectory middleware logs in chronological ord

[2021-09-23 09:48] zielu commented on #345
@Darllao so `Unsupported node middleware, type=FileNode, name=middleware` is actually a directory ? Maybe it's a symlink or smth ?

[2021-09-23 09:57] Darllao commented on #345
@zielu yes, middleware is a repository.
the filestructure is
[<img src="https://i.imgur.com/YLumK6f.png">](https://i.imgur.com/YLumK6f.png)

[2021-09-23 09:59] zielu commented on #345
Could you check is `ls -la` what does it say for it ?

[2021-09-23 10:00] Darllao commented on #345
drwxrwxr-x  6 myname mygroup     4096 Aug 10 12:31 middleware

[2021-09-23 10:26] zielu commented on #345
Second batch of logs from `2021-09-23 10:42:16` suggest that at least it was recognised as git root, but I don't know yet why decoration was not added.

[2021-09-23 13:05] DokanBoy opened #346 "Idea: Commit mesaage complete"
Git commit message suggestions based on branch name.
For example: `feature/TASK-1` suggest `[TASK-1]`, `bugfix/TASK-2` ->  `[TASK-2]`

[2021-09-23 13:18] zielu commented on #346
It's already there, you need to add pattern completion formatters in plugin config.

[2021-09-23 13:36] DokanBoy commented on #346
Amazing Can you tell me how to do this?  I tried to compose a regex, but it didn't work for me

[2021-09-23 13:38] zielu commented on #346
Something like `(?:.+/)*(\w+-\d+).*` should do the trick

[2021-09-23 14:31] zielu opened #347 "Feature: Support templating in pattern branch completion formatters"
Given branch name like `feature/JIRA-1234_asdsd` completion formatter should provider `[JIRA-1234]`.
With current approach the best that can be done is `JIRA-1234` with pattern `(?:.+/)*(\w+-\d+).*`

[2021-09-23 14:36] zielu commented on #346
I created #347 for template support in pattern formatter

[2021-09-24 07:49] zielu commented on #345
Could you switch to EAP build channel as described here: https://github.com/zielu/GitToolBox#eap-builds ? There will be a new 212.7.12 in there in a moment that should handle Unsupported FileNode. It seems there was a hole in the logic for this case.

[2021-09-24 08:04] Darllao commented on #345
This patch instantly fixed the issue! Great work my friend, thank you very much!

[2021-09-24 08:04] #345 closed

[2021-09-24 08:06] zielu commented on #345
Good to hear that !

[2021-09-24 11:27] aaronols opened #348 "Support 2021.3"
Hello zielu, great work as always.

Today, IntelliJ IDEA 2021.3 EAP (Build #IU-213.3714.440) has been released.
Please expand your matrix build to include the 2021.3 version line.
I hope no API changes are necessary for the new version.

Thank you for very much for the great plugin!

[2021-09-24 15:46] zielu commented on #348
212.7.13 will be out shortly in plugin EAP channel

[2021-09-24 15:46] #348 closed

[2021-09-24 15:47] zielu commented on #346
Closing - will continue in feature ticket

[2021-09-24 15:47] #346 closed

[2021-09-29 08:57] doublefx opened #349 "Not working with IntelliJ IDEA EAP 2021.3"
Incompatible: Requires IDE build 212.* or earlier

[2021-09-29 10:12] zielu commented on #349
Hi, see #348

[2021-09-29 10:12] #349 closed

[2021-09-29 14:46] zielu opened #350 "Feature: Use CommitCheck for commit message validation in non-modal mode"
Use com.intellij.openapi.vcs.checkin.CommitCheck to provide better user experience

[2021-09-29 15:00] zielu commented on #350
Also com.intellij.vcs.commit.message.BaseCommitMessageInspection

[2021-09-29 15:08] zielu commented on #350
Why option is missing from Version Control > Commit config page ?
com.intellij.openapi.vcs.configurable.CommitOptionsConfigurable

[2021-10-18 08:29] ruanxinwu opened #351 "Incomplete display of git committers"
The name of my git committer is: ruanxinwu_cd
But when the mouse is placed on a certain line of code, only Cd will be displayed,
So a_cd, b_cd, and x_cd can only display Cd, and can’t tell who it is.
![image](https://user-images.githubusercontent.com/28949033/137695824-a5f9e1e2-b586-4620-b33f-747792bbad0c.png)

[2021-10-18 08:38] zielu commented on #351
Hi, this depends on option selected in plugin settings: Preferences > Version Control > GitToolBox > Blame - Author name.
Selecting Full Name should help.

[2021-10-20 11:50] zielu commented on #347
Hi, I'm considering using velocity for this feature so all kinds of custom logic will be possible :)

[2021-10-21 11:54] Perforce-Chris opened #352 "False Positive - BitDefender Security Alerts"
Our company uses this plugin with IntelliJ IDEA.  It is causing security alerts with BitDefender.  I reached out to JetBrains & they wrote: Do you think you could file an issue to this plugin's vendor at https://github.com/zielu/GitToolBox ?
We will think of how could we prevent this kind of issues during plugins onboarding further.
![BitDefender-Report](https://user-images.githubusercontent.com/9

[2021-11-02 13:15] JonSnow592622272 opened #353 "[bug] Sometimes branch search cannot be highlighted, and sometimes restart can highlight again"
**1.error case：**

![image](https://user-images.githubusercontent.com/29426770/139851960-afff4a11-7352-4b95-afe7-7215c002b832.png)

![image](https://user-images.githubusercontent.com/29426770/139852233-74bca082-4472-4c38-8ebc-aed5e0ad7a30.png)

**2.correct case：**
![image](https://user-images.githubusercontent.com/29426770/139853051-143ba91c-c59e-478b-ad81-e1514f4ad7d1.png)

![image](https://user-

[2021-11-03 14:47] scruel commented on #220
![image](https://user-images.githubusercontent.com/16933298/140082819-671f2f9f-8d6e-4946-9bb7-48593807904a.png)

No completion in Commit dialog.

[2021-11-03 15:00] zielu commented on #220
@scruel not related - missing completion in non-modal dialog is a separate isssue

[2021-11-04 11:06] zielu opened #354 "Missing gitmoji completion in non-modal commit UI"

[2021-11-04 11:07] zielu opened #355 "Missing gitmoji completion in non-modal commit UI"
![image](https://user-images.githubusercontent.com/16933298/140082819-671f2f9f-8d6e-4946-9bb7-48593807904a.png)

No completion in Commit dialog.
IDEA Version: 2021.2.3

_Originally posted by @scruel in https://github.com/zielu/GitToolBox/issues/220#issuecomment-959306369_

[2021-11-05 00:22] scruel commented on #220
Ok, I was thought that my issue may same as 'gitmoji not showing', so I post it here, sorry for the inconvenience!

[2021-11-10 15:46] tboba opened #356 "Typo in message while validating commit message"
Hi,
I found a typo, when I was trying to commit my changes.
There is two "the" in the message dialog.

![typo](https://user-images.githubusercontent.com/23281839/141144966-85e5722c-2aa2-4bb8-9c04-5a9f82fd543b.png)

Steps to reproduce:
1. Make a changes in code.
2. Try to commit by commit dialog (ctrl + K).
3. Check "Validate commit message".
4. Try to commit.

IJ version: IU-212.5457.46,
JRE 11.0.

[2021-11-15 20:49] zielu commented on #356
Done in 203/212.8.0

[2021-11-15 20:49] #356 closed

[2021-11-15 20:49] zielu commented on #355
Done in 203/212.8.0

[2021-11-15 20:49] zielu commented on #352
No feedback, closing

[2021-11-15 20:49] #352 closed

[2021-11-15 20:50] zielu commented on #350
Done in 212.8.0

[2021-11-15 20:50] #350 closed

[2021-11-15 20:50] zielu commented on #326
Done in 203/212.8.0

[2021-11-15 20:50] #326 closed

[2021-11-15 20:52] zielu commented on #323
Done in 203/212.8.0

[2021-11-15 20:52] #323 closed

[2021-11-15 20:55] zielu opened #357 "[Feature] Inline blame should allow to inspect history for the line"
When looking at inline blame it would be useful to be able to go back in history of commit messages (similar to show history for selection)

[2021-11-15 22:19] sekullbe commented on #313
Inactivity config, especially with a "never" option, would be lovely- I just had to restore a couple of unmerged branches from reflogs that got deleted by cleanup. I didn't carefully check the list because there were 3000 branches in it and I thought only merged and old branches would be deleted. I'd like to be able to only remove merged branches.

[2021-11-16 00:18] scruel commented on #355
Nice work! 🎉

[2021-11-16 01:07] PanjiNamjaElf opened #358 "Disable Override Commit Message Validation Per Project"
Hi... I have disable the override checkbox on Commit -> Message Validation
But when I want to commit change the validation become checked again so it make invalid message validation

It is a bug or any something I missing ?

1. Uncheck the override checkbox
![image](https://user-images.githubusercontent.com/16651293/141877175-7f1947e9-303e-4336-ba58-681a6d4cbeab.png)

2. When commit dialog show
![

[2021-11-16 02:16] zielu commented on #358
Hi, it works like this - if you want to disable something per-project you need to check Override and then disable given setting. The moment you uncheck Override it shows current value from application level.

Checkboxes in commit dialog Before Commit take current value from either project or application level (depending on state of Override) but the moment they are modified they create implicit pr

[2021-11-16 02:42] PanjiNamjaElf commented on #358
On my application commit regex pattern using like this `(?:fix|chore|docs|feat|refactor|perf|ci|style|test)(?:\(.*\))?: [a-z].*(\s#\d+)?`
So I must override it on project settings to using same regex pattern like application settings?

Ok.. thank's ☺️

[2021-11-16 09:00] zielu commented on #313
@sekullbe I'll add option for outdated branches that only make only merged ones selected by default and maybe additional confirmation dialog to removal if you have any outdated selected.

Actually plugin is recording removal history (branch name + commit it was pointing at) but just stores it. Looks like it's the moment to actually implement rollback functionality on top of that.

[2021-11-16 11:12] enerjazzer opened #359 "per-repo base branches (feature request)"
Hi, thanks for a great plugin!
I wonder, as JetBrains is not very fast in implementing new features, maybe your plugin could implement this?
https://intellij-support.jetbrains.com/hc/en-us/community/posts/4408726305682-Project-with-multiple-git-repos
https://youtrack.jetbrains.com/issue/IDEA-282123

[2021-11-16 15:45] zielu commented on #358
@PanjiNamjaElf out of curiosity - would it be more logical for you that whenever you enable override initial values in UI are copied from app-level ?

I'm wondering whether current implementation is too confusing.

[2021-11-17 00:30] PanjiNamjaElf commented on #358
I think it will be easier understand if we enable override button it will use setting from project and copy initial value from app-level but if not checked it will use application settings.. but now it must checked and copy value from app level settings if want use same settings.. is not practice😅

[2021-11-17 03:30] bitstrings opened #360 "Since 212.8.0 - java.lang.ClassCastException: class kotlin.coroutines.intrinsics.CoroutineSingletons -> com.intellij.openapi.vcs.checkin.CommitProblem"
Since 212.8.0 I get an error when trying to commit.

![image](https://user-images.githubusercontent.com/911165/142129504-35cfeee2-fdcd-4966-b1ac-2296208fbfbb.png)

[code]

[code]

[2021-11-17 14:05] zielu commented on #360
I know what that is - there is apparently a bug in kotlin that my plugin triggers. Fix is on the way

[2021-11-17 14:12] zielu opened #361 "deleted branch restoration"

[2021-11-17 14:13] zielu opened #362 "project-level config overrides"

[2021-11-17 18:29] zielu commented on #360
Done in 212.8.1

[2021-11-17 18:29] #360 closed

[2021-11-18 09:41] scruel commented on #355
Still not work, plugin version 212.8.1.

[2021-11-18 10:06] zielu commented on #355
Just to double check - you do have it enabled in plugin settings, right ?

[2021-11-18 10:14] scruel commented on #355
Yep, I enabled the plugin, and Git Status on status bar, have more than one files to commit, but there is nothing happened after typing ":tada:".
![image](https://user-images.githubusercontent.com/16933298/142395745-0d2028ae-2ce0-480e-b840-5bd8aa06b75f.png)

[2021-11-18 11:04] zielu commented on #355
But is any file selected for actual commit in Commit window ?

[2021-11-18 11:09] scruel commented on #355
Yep, tried select or not select both.

[2021-11-18 16:09] zielu commented on #355
Which OS are you on ? - maybe it makes some difference.

[2021-11-18 19:31] zielu commented on #355
I pushed out EAP build with additional logging. Switch to the EAP channel as described here https://github.com/zielu/GitToolBox#eap-builds and enable logging (https://github.com/zielu/GitToolBox/wiki/AdvancedManual#debug-logging) from '#zielu.gittoolbox.completion'

[2021-11-19 01:36] scruel commented on #355
Windows 10 Pro

[2021-11-19 02:04] scruel commented on #355
Sorry, it works, I forgot to re-enable the gitmoji completion function in settings.
![image](https://user-images.githubusercontent.com/16933298/142552207-9597095c-1982-4bec-8749-f79689107b2e.png)

[2021-11-19 02:15] scruel commented on #355
But I still not have colors for gitmojis(like https://github.com/zielu/GitToolBox/issues/272#issuecomment-734332500 mentioned)
Uncheck "as unicode":
![GIF](https://user-images.githubusercontent.com/16933298/142553015-92b2cee2-3086-4715-8449-ae8ec151acfa.gif)

Check "as unicode":
![GIF2](https://user-images.githubusercontent.com/16933298/142553293-f7ccda57-119b-4827-b319-e737ead44bf6.gif)

[2021-11-19 02:18] scruel commented on #355
The completion need press ↓ to select the first recommend gitmoji then press ENTER to confirm the choose, rather than just press ENTER.

[2021-11-19 02:24] scruel opened #363 "[Feature] Add support for gitemoji in git commit log"
Check this plugin: [emoji-commit-log-viewer](https://plugins.jetbrains.com/plugin/14529-emoji-commit-log-viewer)

[2021-11-19 09:17] zielu commented on #355
Ok, I'll look into completion behavior. Non-unicode mode works as it should - it inserts a text marker that should be displayed as icon later. Display part is missing for inline blame as you already noticed.

[2021-11-22 19:45] zielu commented on #355
https://intellij-support.jetbrains.com/hc/en-us/community/posts/206779405-Code-Completion-Popup-Focus

[2021-11-23 01:53] ddalcino opened #364 "[Cosmetic] Typo in the string "Uncommited changes""
When I have uncommitted changes, GitToolBox prints a string after the end of the line that says "uncommited changes". This message is misspelled: there are two `t`s in the word "uncommitted".

I am grateful for all your work on this extremely useful plugin, and I hate to bother you for such a minor issue. Hopefully this will be trivial to fix.

Thank you for all your hard work!

[2021-11-23 06:32] zielu commented on #364
Hi, it seems that single t is a common misspelling: https://dictionary.cambridge.org/pl/spellcheck/english/?q=commited

[2021-11-23 14:39] zielu opened #365 "[Feature] Improve Commit dialog completion popup selection"
The completion need press ↓ to select the first recommend gitmoji then press ENTER to confirm the choose, rather than just press ENTER.

https://intellij-support.jetbrains.com/hc/en-us/community/posts/206779405-Code-Completion-Popup-Focus

[2021-11-23 14:40] zielu commented on #355
Moving completion improvement to #365. Missing completion is solved

[2021-11-23 14:40] #355 closed

[2021-11-24 20:43] zielu commented on #365
Improved behaviour:
- branch completion - if current prefix matches any branch, popup is preselected
- gitmoji completion - if current prefix matches gitmoji in form `:gitmoji`, popup is preselected

[2021-11-29 08:38] scruel opened #366 "[Feature] Add completion for the search bar of git log window"
![image](https://user-images.githubusercontent.com/16933298/143834077-42452f46-b1da-437a-9d33-2875b9b40934.png)

Add this function would be more convince for search the log message. (as unicode still needed)

[2021-11-29 08:52] zielu opened #367 "[Feature] Locked branches (no commit, no push)"
I always work with multiple branches, and we have some branches that we are not allowed to push or commit anything, I know we can manage this on the admin setting, but on our machine, if there is a way where we can add few branches which shows the locked symbol so that we can not commit or push the code by mistake.

[2021-11-29 09:13] zielu commented on #366
Hi, I'll see what can be done :)

[2021-11-29 10:33] zielu opened #368 "[Feature] Outdated branch inactivity period configuration"

[2021-11-29 10:35] zielu commented on #359
Hi, I need to read through it

[2021-11-30 21:47] ReptoxX opened #369 "Jetbrains Client"
Hey,

have you considered adding support for Jetbrains Client?

Regards

[2021-12-01 02:19] scruel opened #370 "[Feature] Add completion for "Edit Commit Message" dialog"
![image](https://user-images.githubusercontent.com/16933298/144160045-4a86d8bb-21f9-4df0-913f-da651bcdc0a4.png)
![image2](https://user-images.githubusercontent.com/16933298/144160049-d3366810-61d8-4272-9fdb-c0754eb2e4d1.png)

[2021-12-02 14:54] zielu commented on #369
@ReptoxX I search for it and it's not clear for me which Jetbrains product / feature you are referring to.

[2021-12-02 16:16] ReptoxX commented on #369
I just figured out that you most likely can not support this product as it does not have support for the built-in git4idea extension.

JetBrains Client is a thin client for remote development through JetBrains Gateway. Download the Gateway, setup a remote connection and you'll connect through the JetBrains Client.

[2021-12-05 21:09] ddalcino commented on #364
I'm not sure what you mean by this. Are you trying to say that since the word is commonly misspelled, it's correct to misspell it? Many English words have multiple correct spellings, like ["colour" (UK)](https://dictionary.cambridge.org/us/dictionary/english/colour) and ["color" (US)](https://dictionary.cambridge.org/us/dictionary/english/color). This is not the same as "committed" (correct) and "

[2021-12-06 17:36] Miuler opened #371 "Error in visual mode in code scala using ideavim + GitToolBox"
I'm using IDEA (Build #IU-213.5744.223, built on November 27, 2021), plugin ideavim and scala plugin. My GitToolBox have fail and my vim keybinding in scala code fail the visual mode.

[2021-12-07 20:53] zielu commented on #371
Hi, you do not provide any actionable details:
- GitToolBox have fail - meaning what exactly
- vim keybinding in scala code fail the visual mode - what is happening exactly

[2021-12-08 01:27] scruel commented on #367
Nice idea for the version branch!

[2021-12-08 01:28] scruel commented on #367
Nice idea for some branches!

[2021-12-09 21:12] zielu commented on #365
Done in 203/212.8.3

[2021-12-09 21:12] #365 closed

[2021-12-09 21:13] zielu commented on #364
Done in 203/212.8.3

[2021-12-09 21:13] #364 closed

[2021-12-09 21:14] #313 closed

[2021-12-10 12:13] unikitty37 commented on #364
I've installed 212.8.3, but the old spelling still seems to be there:

![image](https://user-images.githubusercontent.com/139183/145572354-9aaad6e7-a6df-4364-a7b5-c13150fe6037.png)
![image](https://user-images.githubusercontent.com/139183/145572371-1a6979ba-121a-4a60-b2d1-bcf831c8841f.png)

[2021-12-10 13:11] zielu opened #372 "[Feature] Uncommitted blame not shown for newly added files"
When there is a new, uncommitted file added, blame is not shown.

[2021-12-10 14:43] meslem12 opened #373 "[Spelling Mistake] Inline Blame "Uncommited""
The inline blame shows "You, 1 minute ago . Uncomited changes"
It should show "You, 1 minute ago . Uncomitted changes"

[2021-12-11 20:08] ddalcino commented on #364
I can confirm this; the word "uncommitted" is still misspelled in v212.8.3, although the change notes claim otherwise.

[2021-12-12 17:29] zielu commented on #364
Fixed for good in 203/212.8.4 - I must have reverted it by accident.

[2021-12-12 19:24] ddalcino commented on #364
I can confirm that this is now fixed. Thanks!

[2021-12-12 21:40] zielu commented on #373
Duplicate of #364

[2021-12-12 21:40] #373 closed

[2021-12-13 13:55] jpvantelon commented on #358
Hi @zielu. I had the same problem as @PanjiNamjaElf.
The problem was really that, in the `GitToolBox Project` configuration, on the `Commit` tab, if you unchecked the override checkboxes for `Message Validation`, they were kind of automatically rechecked in the background !
So even if you didn't wanted to override these settings, you kind of had to :sweat_smile: !

But with the latest version (212

[2021-12-14 14:37] jpvantelon commented on #358
Well... In fact the bug is still here :confused:. I restarted PHPStorm, maybe that was just that, and yesterday I didn't actually performed a commit, so maybe I dreamt about the fix, or maybe it was just monday :smile:.

So today, I tried to commit and got an error about the commit message not being correct.
I checked in the `GitToolBox Project` configuration, on the `Commit` tab, and the override

[2021-12-14 17:56] zielu commented on #358
Heh, the logic of those specific checkboxes is more funky than it should be...
I mean - there are sources of changes:
- Settings etc..
- commit dialog
the issue is with second one - what is the expectation of user what should happen ?

If there is existing project override logic is simple - just modify override value. But assuming there is no override - should changing setting in commit dialog cha

[2021-12-15 03:23] scruel opened #374 "[Feature] Add quick switch on status bar for auto fetch function"
![image](https://user-images.githubusercontent.com/16933298/146117162-2e7d5612-8ba8-4ab5-b331-19bbed1914fd.png)
For now, it needs to go to the settings page to change the option.

[2021-12-15 17:59] zielu commented on #374
Nice idea

[2021-12-16 14:58] frontendplace opened #375 "Message validation regular expression is not working as before"
after update version (2021-12-12T17:33:10.557744)
previously accepted regexp : WK-\d{5} .* was working in message validation
a comment starting with "WK-00000 some text" was accepted before but now not anymore

[2021-12-17 10:30] zielu commented on #375
Hi, could you check commit validation plugin config on project level ? There might be an issue if you used checkbox in commit dialog.

[2021-12-22 00:48] scruel commented on #355
IntelliJ IDEA 2021.2.4 (Ultimate Edition)
Build #IU-212.5712.43, built on December 21, 2021
Runtime version: 11.0.13+8-b1504.49 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 2016M
Cores: 8

Not work again on the latest version.

[2021-12-22 00:58] scruel opened #376 "Missing gitmoji completion in non-modal commit UI"
![GIF](https://user-images.githubusercontent.com/16933298/147016812-0ff78ab4-3720-4742-a7fd-5505c912ccd9.gif)

No completion if start with “:”.

IntelliJ IDEA 2021.2.4 (Ultimate Edition)
Build #IU-212.5712.43, built on December 21, 2021
Runtime version: 11.0.13+8-b1504.49 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Memory: 2016M

[2021-12-22 07:57] zielu commented on #376
On it

[2021-12-22 10:04] zielu commented on #376
Looks like completion is not called at all for ':'. I need to dig into IDE internal to check where it's getting blocked

[2021-12-22 13:10] zielu commented on #376
It's impossible to fix - IDE cuts out `:` very early in completion processing and my completion providers are simply not called.

[2021-12-23 00:12] scruel commented on #376
May we can try to report it as a BUG?
https://youtrack.jetbrains.com/

[2021-12-23 00:16] scruel commented on #376
I have created an issue to track this, your can visit and comment more detail info: https://youtrack.jetbrains.com/issue/IDEA-285549

[2021-12-23 13:31] zielu commented on #376
Investigate approach from `GitCommitCompletionContributor`

[2022-01-03 11:16] mastacheata commented on #367
I really like the visual indicator idea.

Not sure the pre-commit-hook is something I'd like an IDE plugin to interfere with, though.

[2022-01-03 16:47] rcastagno opened #377 "Caret not placed correctly when blame is "After line""
Can't say exactly when this started, but it happens continuously.

What happens is that the cursor is placed incorrectly when inline blame is active, and is configured "After line".

The consequence is that when I start typing, the cursor is not where I expect it to be.

For example, I place cursor at the end of a line and press enter; for an instant it appears like this:

![image](https://user-im

[2022-01-07 07:39] Lykr opened #378 "[BUG] StringIndexOutOfBoundsException"
[code]

[2022-01-08 05:08] BaiMingxu opened #379 "An error was reported after installation (AndroidStudio)"
Auto fetch failed
		Invocation failed Unexpected end of file from server
		java.lang.RuntimeException: Invocation failed Unexpected end of file from server
		at org.jetbrains.git4idea.GitAppUtil.sendXmlRequest(GitAppUtil.java:30)
		at org.jetbrains.git4idea.http.GitAskPassApp.main(GitAskPassApp.java:58)
		Caused by: java.net.SocketException: Unexpected end of file from server
		at java.base/sun.ne

[2022-01-11 13:16] zielu commented on #377
Hi, which plugin and IDE versions are you using ?

[2022-01-11 13:17] zielu commented on #378
Hi, do you have text for which is happened ?

[2022-01-11 13:18] zielu commented on #379
Hi, this is not caused by the plugin itself but failure to fetch from repository. Does the same happen when you invoke IDE action Git > Fetch ?

[2022-01-11 13:30] rcastagno commented on #377
Right:

IntelliJ IDEA 2021.3.1 (Ultimate Edition)
Build #IU-213.6461.79, built on December 28, 2021

Plugin version: 212.8.4

BTW, some additional pieces of information:
- the problem is *not* present if I disable "Show uncommitted changes blame"
- all leading spaces in my files are trimmed, so when Idea automatically applies indentation on an existing empty line, is actually changing the line (ad

[2022-01-12 12:59] zielu commented on #377
I cannot reproduce it. What other plugins do you have installed ? Maybe it's some interaction that is causing this.

[2022-01-12 15:45] zielu commented on #377
Does the action you have hooked to file watcher modify the file ?

[2022-01-12 16:24] rcastagno commented on #377
The test I've recorded in the mini-screencast I've done after disabling File Watchers.

I simply do:
- enter
- alt+tab
- alt+tab again
- write something

What's modifying the file is "General \ On save \ Remove trailing spaces on: all lines"

[2022-01-13 18:34] zielu commented on #377
What about OS ? Maybe it somehow factors into this

[2022-01-13 19:53] zielu commented on #377
A small update. I have found a property in the IDE API that I'm using for inline blame that might cause this behaviour - namely caret being positioned after the blame. I'll create a dev build soon so that we can test it out.

[2022-01-14 08:25] rcastagno commented on #377
Tried the dev build, but it seems it still does the same effect.

OS: Windows
File type: cfc/cfm (coldfusion) and java

[2022-01-17 11:56] IWareQ opened #380 "[BUG] saved selected files in rollback menu"
**Describe the bug**
The file is not saved when rolling back

**To Reproduce**
Steps to reproduce the behavior:
1. Select the files you want to rollback
2. Click on the rollback button
3. Look at how your sample files are not selected

**Expected behavior**
Saving a selection of files

**Plugin version**
212.8.4

Kotlin: 213-1.6.10-release-923-IJ5744.223

**IDE version**
IntelliJ IDEA 2021.3.1 (Ul

[2022-01-20 16:56] jrmihalick commented on #328
@zielu I have a gradle project that is using submodules. Prior to updating to  to version 2021.x, I used to see the branch name decoration on all of my submodules.  Now it just shows on one of any of the given submodules and it actually moves around to different submodules after I pull updates from git.  Is there any way to get the decoration back on all my projects?
![Screen Shot 2022-01-20 at 11

[2022-01-28 03:06] LinWanCen opened #381 "[features] blame in find window"
When use Ctrl + Shift + F to find in path or use Alt + F7 to Find Usages, can open in find Windows and it show file line but not blame.

**We hope it can sync get the find window blame and show, and can export.**

By the way, it export is a tree txt, I creat a issue to jetbrains to export tsv (easy to Excel table) but not support yet.

[2022-01-28 07:58] zielu commented on #379
Not feedback

[2022-01-28 07:58] #379 closed

[2022-01-28 07:59] zielu commented on #377
Small update - still no luck reproducing this issue.

[2022-01-28 08:00] zielu commented on #375
No feedback

[2022-01-28 08:00] zielu opened #382 "[feature] Support 2022.1 EAP"

[2022-01-28 08:05] zielu commented on #328
@jrmihalick this is side effect of adding logic to only show branches on top level repo instead of all module tree nodes. I forgot that there could be git submodules too. I'll see what I can do.

[2022-01-28 10:46] frontendplace commented on #375
Sorry for late response. Yes I use the checkbox in the check commit message in the project. As I have done before. Shouldn't I do that?

[2022-01-28 11:58] jrmihalick commented on #328
@zielu Thanks.  If you could make it an option that we can toggle on/off, our team of 30 or so developers would really appreciate it.

[2022-01-28 12:18] zielu commented on #375
Ok I'll dive one more time into this

[2022-01-28 19:40] zielu commented on #328
Looks like I need some more details to reproduce it. Is the project structured like this ?
- repo
  - submodule1
  - submodule2

Are submodule repos added as maven/gradle modules to root repo ?

[2022-01-29 12:49] jrmihalick commented on #328
@zielu The project is structured like so:

- A single git repository, not using git submodules
- There is a gradle parent project, which adds the sibling subproject dirs via gradle `include` mechanism.

Structure:

[code]

In the parent-assemble project, we have a `settings.gradle` which uses the gradle include mechanism to add the child projects like so (see https://docs.gradle.org/current/usergu

[2022-01-30 14:40] hlxxzt commented on #382
expecting...

[2022-02-01 15:01] #382 closed

[2022-02-01 15:01] #372 closed

[2022-02-01 21:32] zielu commented on #328
@jrmihalick which directory do you open as project in Idea ? `openpos-assemble` or `openpos-framework` ?

[2022-02-02 00:16] jrmihalick commented on #328
@zielu The gradle `idea` plugin generates an ipr file into `openpos-assemble`, so we can open the `openpos-assemble.ipr` file from there.  We don't point intellij at a directory per se.

We have other projects where the ipr file is generated and placed in the parent directory of the parent-assemble project and can have an arbitrary name and just organizes all the projects to be viewed together as

[2022-02-02 08:26] zielu commented on #328
@jrmihalick I reproduced it - fix is on the way

[2022-02-02 12:01] jrmihalick commented on #328
@zielu : Great news!  Thanks!

[2022-02-02 15:32] HaloKo4 opened #383 "[Feature] Allow to open the PR of a code line"
Use case:
Currently the plugin shows the PR that created a code line. By clicking Open In -> Github you can open the browser on this code line. I'm interested in functionality where i can also open the PR that created this code line. The PR number is viable it just doesn't allow to open it in a continent way.

[2022-02-03 15:15] zielu commented on #375
Can you enable logs from category `#zielu.gittoolbox` ? During validation there should be an entry like `Validate commit message with expression`. I'm curious what it will print.

https://github.com/zielu/GitToolBox/wiki/AdvancedManual#logging

[2022-02-04 09:25] frontendplace commented on #375
This is in de log:
#zielu.gittoolbox - Validate commit message with expression: '(?:fix|chore|docs|feat|refactor|style|test)(?:\(.*\))?: [A-Z].*\s#\d+'

This is what I have in the settings:
in plugin:
check pattern match: on ,
pattern: WK-\d{5}\s.*  with a green checkmark after it

In commit dialog: before commit, message matches pattern: on

Commit message used: WK-00000 test

[2022-02-04 12:25] zielu commented on #375
Looks like this is the case of "funky checkboxes" - see #358. There are 2 levels on configuration - app and project - if you used checkbox from commit dialog to disable validation then a project override was created and it does not copy settings from app level.
I'm working on a fix but it is surprisingly difficult issue.

[2022-02-04 12:29] zielu commented on #376
Done in x.8.5

[2022-02-04 12:29] #376 closed

[2022-02-04 13:21] zielu commented on #328
@jrmihalick EAP build x.8.6 should be out in couple of minutes - see https://github.com/zielu/GitToolBox#eap-builds how to switch to EAP channel

[2022-02-04 19:59] cmatos23 opened #384 "[BUG] Current Branch auto-complete suggestion in commit message dialog does not come up when typing the beginning letters of the current branch name"
**Describe the bug**
"Branch" auto-complete suggestion in commit message dialog does not come up when typing the beginning letters of the current branch name

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `main` branch
2. Make a change to a random file.
2. Go to commit dialog and select the file changed above
3. type beginning of current branch name in commit text box. Ex 'mai' whi

[2022-02-04 20:18] zielu commented on #384
Hi, indeed I can reproduce it - it is  bizarre - no it

[2022-02-09 12:08] 0xC0DEBA5E opened #385 "[BUG] Git Fetch Cancel not working as expected"
I'm working with a Git repo that is accessible only via VPN.

When I forget to connect to my VPN before issuing a command that triggers a git fetch in my IDE, then I have to wait until the Git fetch background tasks runs into the timeout.
It seems to me like the cancel button on the Git fetch operation just hides the message and in the background the network request to the unreachable IP-Address i

[2022-02-09 13:48] frontendplace commented on #375
I see now for the first time the extra project level override. I did not see that before and defaults to another setting I see that now

[2022-02-15 10:13] Clindbergh opened #386 "Update Gitmoji: Adhesive_bandage missing"
The Gitmoji adhesive_bandage 🩹 is missing from the list of suggested gitmojis.

![image](https://user-images.githubusercontent.com/2742027/154040556-2678268c-4c7e-417d-b1ca-cff443c263b5.png)

[gitmoji.dev](gitmoji.dev):
![image](https://user-images.githubusercontent.com/2742027/154040641-a478459b-1a68-4d02-bddf-efeda9c78e6c.png)

[2022-02-18 00:04] #255 closed

[2022-02-22 10:55] zielu commented on #358
Released to EAP channel in variant.8.7

[2022-02-22 10:56] zielu commented on #384
Released to EAP channel in variant.8.7

[2022-02-25 01:49] Zackhardtoname opened #387 "[Feature] Allow Configure Git Blame Options"
(https://stackoverflow.com/a/58738939/7053488)

It'd be nice to be able to add these options.

[2022-02-25 13:38] zorohu commented on #345
@zielu I had the same problem after upgrading from `IDEA 2020.3.4` to a later version, and tried uninstalling and reinstalling the plugin.

GitToolBox `203.8.5` `212.8.5` both have the same problem
![image](https://user-images.githubusercontent.com/24402746/155724446-d097a407-0dbf-47de-9d52-4452ab2f8062.png)

[2022-02-25 19:34] zielu commented on #386
Hi, I added it to my todo list.

[2022-02-25 19:35] zielu commented on #385
Hi, I'll take a look what is wrong here

[2022-02-25 19:38] zielu commented on #383
Hi, that open action is not provided by the plugin but afair it's from IDE Github integration. If you give me an example of such blame message I might suggest some workarounds.

[2022-02-25 19:40] zielu commented on #387
Hi, nice catch. `-w` is already there, I need to check if there was some specific reason why I did not include `-M` - depending on outcome I'll add it either just as default or as configurable option.

[2022-02-25 19:47] zielu commented on #345
@zorohu are those full violet nodes sub git repositories under top-level with `master` or only subdirectories ? Reason I'm asking is because I made changes recently to have project view decoration only on top-level node per repository in project view, repeating same information was leading to clutter in my opinion.
There is one fix to this logic in EAP channel (https://github.com/zielu/GitToolBox#

[2022-02-28 07:56] zielu opened #388 "[Feature] Config option to control Project View decoration collapsing"
Currently only top-level Project View node for repository is decorated. In the past more items were decorated - for example module nodes.

Add configuration option to enable decoration collapsing. Default value is true.

`GitToolBox > Project View > Collapse repository decoration`

[2022-02-28 07:57] zielu commented on #345
In general it works as intended but I'll add an option to either decorate only top-level or all of them. I created #388 for tracking.

[2022-02-28 13:39] zorohu commented on #345
Ok, then I think this is a bug. My current IDEA version is `2021.1.3`. The version of GitToolBox is`3.7.15` which is fine. Problem occurred after upgrade,`203.8.5`  `EAP203.8.7`. And I tried to upgrade IDEA to`2021.2.2,`GitToolBox`212.8.5` also has problems

This is my IDEA`2021.1.3` and gittoolbox `203.7.5`. Use effect
![image](https://user-images.githubusercontent.com/24402746/155992348-e34f14c8

[2022-02-28 13:41] zielu commented on #345
No, it is definitely not a bug.

[2022-02-28 13:47] zorohu commented on #345
ok, i can understand it's an optimization right?

[2022-02-28 20:47] 0xC0DEBA5E commented on #385
Ok, thank you for having a look at this. As this is just a little annoyance for me in some situations I think this issue can be closed now.
Thanks.

[2022-02-28 20:47] #385 closed

[2022-03-04 09:21] zielu commented on #388
Done in variant.8.8

[2022-03-04 09:21] #388 closed

[2022-03-04 09:22] #358 closed

[2022-03-04 09:22] zielu commented on #384
Done in variant.8.8

[2022-03-04 09:22] #384 closed

[2022-03-04 09:22] zielu commented on #328
Done in variant.8.8

[2022-03-04 09:22] #328 closed

[2022-03-08 03:12] moshuipan commented on #369
+1 need help

[2022-03-09 10:19] zielu commented on #369
Comment from ReptoxX is correct - my plugin has hard dependency on Jetbrains Git plugin (git4idea). This feature is not possible until their plugin works with Gateway

[2022-03-09 15:55] Clindbergh opened #389 "[Feature] Support git3moji"
[Git3moji](https://robinpokorny.github.io/git3moji/) is a minimal emoji standard for commit messages.

Is only uses 5 emojis:

*    `:zap:` ⚡️ – Features and primary concerns
*    `:bug:` 🐛 – Bugs and fixes
*   `:tv:`  📺 – CI, tooling, and configuration
*    `:cop:` 👮 – Tests and linting
*    `:abc:` 🔤 – Documentation

These icons are not part of gitmoji and are currently missing. It would be nice

[2022-03-10 09:15] jovijovi opened #390 "[Feature] Always show blame for all lines"
Hi! I have an idea for you.
"Always show blame for all lines" -- It is very useful for team code development. We can very quickly identify code authors, and when they were last modified, without having to select code line by line.

Here's an example:

[code]

Thank you :smile:

[2022-03-10 09:17] zielu commented on #390
Hi, this is second time I see this requested and still wondering what is wrong with built-in IDE Annotate with Git Blame action :)

[2022-03-11 04:56] KotlinIsland opened #391 "(🐞) auto fetch resets the gitlog selected commit"
**Describe the {🐞}**
A clear and concise description of what the (🐞) doin.

auto fetch causes the currently selected commit in the log window to reset to the selected branch from the branch pane.

This also happens if you are looking at a diff which can be extremely frustrating

**To Reproduce**

Select this option:
![image](https://user-images.githubusercontent.com/65446343/157803275-0173b5fc-6e4

[2022-03-14 08:05] zielu commented on #391
Hi, I'll take a look

[2022-03-14 19:46] ammmze commented on #240
There is also the [GitLink](https://plugins.jetbrains.com/plugin/8183-gitlink) plugin, which will add a `Copy GitHub Link` to the context (i.e. right click) menu as well as the menu bar's `View` menu.

[2022-03-16 11:04] zielu commented on #391
The same thing happens when invoking build-in fetch action - selection get's scrolled to HEAD commit of branch selected in 'branches pane'. The trigger seems to be any commits are actually fetched from remote.

[2022-03-16 11:05] KotlinIsland commented on #391
no it doesn't

[2022-03-16 11:06] #391 closed

[2022-03-16 11:10] KotlinIsland commented on #391
https://youtrack.jetbrains.com/issue/IDEA-290571

[2022-03-16 11:10] KotlinIsland commented on #391
@zielu I'm sorry my diagnosis was incorrect. Thanks for looking into it!

[2022-03-16 11:12] zielu commented on #391
@KotlinIsland no problem at all, take care!

[2022-03-22 09:21] zielu commented on #371
No feedback

[2022-03-22 09:21] #371 closed

[2022-03-23 06:28] KotlinIsland opened #392 "(🎁) Autofetch should not log a notification or at least make it an option"
24/7 (yes I code non stop) I have this ![image](https://user-images.githubusercontent.com/65446343/159636746-b64a2190-e5d7-4798-beed-22e09552d2e7.png) blue dot sitting in my notifications window, it doesn't provide any value to inform me that an auto fetch has occured, and dulls my senses to actual notifications that will appear.

I would very much appreciate the option to disable this logging 😁

[2022-03-23 20:40] Zackhardtoname opened #393 "[BUG] Show Blame Details has No Content"
**Describe the bug**
I have tried the default theme Dracula and there's nothing in the popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a line of code
2. Right click - Git - Show Blame Details

**Expected behavior**
Popup with details.

**Plugin version**
212.8.8

**IDE version**
Mac Big Sur 11.6.5
IntelliJ IDEA 2021.3.3 (Ultimate Edition)

**Screenshots**
If applicable, add scre

[2022-03-25 07:52] zielu commented on #392
Hi, good idea.

[2022-03-25 07:55] zielu commented on #393
@Zackhardtoname could you share full commit message for that line ?

[2022-03-29 19:57] Zackhardtoname commented on #393
I have tried to play around with it, but the behavior seems deterministic... During my experiments today, sometimes it works, but sometimes it doesn't. The commit messages contain 2 links. I can't share the exact commit message, but if I figure out a minimal reproducible example, I'll let you know.

[2022-04-06 18:13] adam1010 opened #394 "[BUG] Merge Target not shown | Behind Tracker"
**Describe the bug**
When a branch is behind the merge target (`master` in our case), that information is not displayed. Is it necessary for me to tell gittoolbox what branch is the merge target so that it knows to show that information?

**To Reproduce**

## Storm view
![image](https://user-images.githubusercontent.com/3019544/162040433-3ad2e53b-6e87-47a3-bfbf-253bd2e87920.png)

## Github view
![

[2022-04-07 08:03] zielu commented on #394
Hi, it's parent branch mode which is described here:
- https://github.com/zielu/GitToolBox/wiki/Manual#git-status-display
- https://github.com/zielu/GitToolBox/wiki/Manual#parent-branch-mode

Whether is works on not depends on config and usage. In general git has no notion of PR - it does not track into which branch another one is supposed to be merged.

If someone using IDE `Task management` I ca

[2022-04-12 04:21] adam1010 commented on #394
That worked great, thank you!  Feel free to close this Issue -- we very much appreciate your hard work on this plugin!

![image](https://user-images.githubusercontent.com/3019544/162879806-f7094a55-9eb1-49b5-89ba-1a6c952b7464.png)

[2022-04-12 20:22] #394 closed

[2022-04-12 20:22] zielu commented on #386
Done in (203/212).8.9

[2022-04-12 20:22] #386 closed

[2022-04-12 20:24] zielu commented on #392
(203/212).8.9

Go to Preferences / Appearance & Behavior > Notifications > GitToolbox fetch info. Select `No Popup` and disable `Show in tool window`

[2022-04-12 20:24] #392 closed

[2022-05-17 04:39] datpham19 opened #395 "[BUG] New version of IDE"
**Describe the bug**
I've updated to PyCharm 2022. I can't enable GitToolBox because it has some errors

**Plugin version**
Exact plugin version: 212.8.9

**IDE version**
PyCharm 2022.1.1 (Professional Edition)
Build #PY-221.5591.52, built on May 11, 2022
Licensed to Dat Pham
Subscription is active until June 6, 2022.
For educational use only.
Runtime version: 11.0.14.1+1-b2043.45 amd64
VM: OpenJD

[2022-05-17 19:09] zielu commented on #395
Hi, I cannot reproduce this with plugin installed from official repository. How did you install the plugin ?

[2022-05-18 04:11] datpham19 commented on #395
I searched from Marketplace
![image](https://user-images.githubusercontent.com/27439513/168955603-c5837360-587b-49ac-8ae1-dbde7022d601.png)

[2022-05-18 04:23] datpham19 commented on #395
But when I uninstall plugin and re-installed, the plugin worked :/

[2022-05-18 04:23] #395 closed

[2022-05-20 03:07] rcousens opened #396 "[Feature] Configurable colour for folders in project view that have unstaged changes"
As above, I'd love to see folder colours change or some kind of marker when a file in the folder has unstaged changes!

[2022-05-22 10:02] beanaroo opened #397 "[Feature] Update Gitmoji - Latest spec"
First of all, thank you so much for this wonderful plugin! It has been invaluable. ❤️

---

In addition to https://github.com/zielu/GitToolBox/issues/386, there are a few more entries missing:

Reference: https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json

[code]

### Notes:
- [Platform specific emoji](https://github.com/carloscuesta/gitmoji/pull/471/files) have been remove

[2022-05-23 10:04] DevDengChao opened #398 "[Feature] How to contribute ?"
I found it incompatible with IntelliJ IDEA 2022.2 EAP (Ultimate Edition) Build #IU-222.2270.31 these days, so I'd like to known if there is something I can do to help it and how to do it.

I noticed the announcement in readme, does it means no more code contribution will be accepted in the feature ?

[2022-05-23 13:16] zielu commented on #398
Hi, you are correct - no more code contributions are accepted. Build with 2022.2 EAP support should be up today.

[2022-05-23 13:16] #398 closed

[2022-05-25 08:44] zielu commented on #397
technologist will be an interesting one :)

[2022-05-30 00:01] PanjiNamjaElf opened #399 "[BUG] IDE Internal Errors"
**Describe the bug**
When I open the PhpStorm app and switched to another project, I got this errors

**To Reproduce**
Steps to reproduce the behavior:
1. Opening PhpStorm App
2. Select a project
3. Close the project and switched to another project

**Plugin version**
212.9.0

**IDE version**
PhpStorm 2022.1.1
Build #PS-221.5591.58, built on May 12, 2022

**Screenshots**
![image](https://user-imag

[2022-06-03 04:32] enerjazzer opened #400 "[BUG]Too much logging freezes CLion"
I use a lot of repos at the same time for my big project, and now I frequently have CLion freezing on logging, and I need to kill it multiple times a day.
Please reduce logging or add an option to control it.
For example:
 java.lang.Thread.run 162100ms
  java.util.concurrent.ThreadPoolExecutor$Worker.run 162100ms
   java.util.concurrent.ThreadPoolExecutor.runWorker 162100ms
    java.util.concurren

[2022-06-03 07:11] zielu commented on #400
Ouch, on it.

[2022-06-06 19:28] nurettinabaci opened #401 "[Feature]: New inline location: Aligned"
Hi, I have a new inline location idea.
There will be an "Aligned" type of inline location.  (Settings > Version Control > GitToolBox > Blame > Editor Inline Blame)

The blame strings will always show after (for example) 80 characters for every line. The padding amount -80- will be specified by the user. If there is a code line longer than 80 characters then it will show the blame string _after lin

[2022-06-07 21:38] zielu commented on #399
Please try 212.9.2 from [EAP channel](https://github.com/zielu/GitToolBox#eap-builds)

[2022-06-07 21:38] zielu commented on #400
Please try 211/212.9.2 from [EAP channel](https://github.com/zielu/GitToolBox#eap-builds)

[2022-06-09 12:05] stefango opened #402 "[Feature] Squashed Commit shall be ignored after switching branch?"
Hi. I create my MR with `squash commit` option checked on Gitlab. Commit A (the first commit in this MR) and B are combined into commit A. When I switch into develop branch, commit B will still show inline until restart my Webstorm. I am wondering that is it just designed like this.

[2022-06-10 08:45] zielu commented on #402
Hi @stefango digging deeper into this. My thoughts on scenario and some questions:

1. have a feature branch with commit A & B
2. merge it into develop with squash - question does it also create merge commit or does develop only have squashed commit ? Could you compare commit hashes for A before and after it is merged ? afaik commit in develop should have the same message as A but hash should be d

[2022-06-12 15:09] stefango commented on #402
@zielu Thx for response. My reply is as below:
1. Yep. Merge feat branch into develop branch.
2. MR Page shows that 'The changes were merged into develop HASH_C' and my commits are commit A (HASH_A) & B (HASH_B). That's to say, commit hashes for A before and after it is merged are different.
3. `Git tool window` means the git log tab in Webstorm? If so, the commit hash on develop is HASH_C.
I also

[2022-06-13 18:38] zielu commented on #402
@stefango could you check one more thing ? Does invoking action under `Git > GitToolBox > Refresh Blame` fix things ?

[2022-06-16 06:26] enerjazzer commented on #400
It still logs a lot of #z.g.blame, #z.g.status, #g.c.GitHandler etc.
Did you add any options to disable logging?

[2022-06-16 08:09] zielu commented on #400
Do you still get logs with timing in ms or it's just amount of logs now. Logging should not be the root cause. If you do still get logs with timings please share them.

[2022-06-17 06:47] enerjazzer commented on #400
[code]
I guess this means I have ms.
But also the amount of logging should be controlled by options. Apparently IDEA machinery just can't keep up and freezes when there is too much logging.
Also, most of that logging like the above is for debugging only, useless for me as a user, but they make idea.log files enormous.

[2022-06-18 17:41] mambax7 opened #403 "[BUG] multiple GitHub password request popups"
**Describe the bug**
It seems like the latest release is forcing me to sign to GitHub for each project. I have several projects opened at once, therefore I'm getting tons of these popups:
![image](https://user-images.githubusercontent.com/613686/174449457-fa7c6fbf-54ba-4f1d-a219-388e9c5ce131.png)
I've tried all the options, i.e. to provide my personal token, to sign with code, hoping that it will

[2022-06-18 18:29] zielu commented on #403
Hi, there is no custom login code in the plugin.It only calls IDE provided api. See https://github.com/zielu/GitToolBox/wiki/Manual#faq

[2022-06-18 18:42] mambax7 commented on #403
Do you have any idea why it was never a problem, but it started only when I updated the plugin to the latest version?
Previously it worked perfectly.
I thought first that maybe something changed in the EAP, but then I looked in the PhpStorm 2021.3.3, and it's the same behavior.

[2022-06-20 08:33] Jidehem opened #404 "[BUG] too many processes spawned"
**Describe the bug**
The plugin can spawns to many Git processes, and the number of spawned processes is increasing until CPU limit is reached (~around 1000 processes on my machine)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch IntelliJ with the GitToolbox enabled
2. Open a complex project with around 10-15 different Git repositories
3. When checking in task manager, the number of t

[2022-06-20 11:08] zielu commented on #404
Hi, could you check some of these processes to see what git command they are running ? With 15 repos I would not expect to see more than 50 but only when opening the project.

[2022-06-20 15:30] Jidehem commented on #404
I've re-enabled the plugin and IntelliJ's sub-processes are always following the same tree structure
![image](https://user-images.githubusercontent.com/647939/174634616-89879021-b07e-4b5b-8477-cb23b28aa3e9.png)

Using Process Explorer to get more infos, it appears that
- "C:\Program Files\JetBrains\IntelliJ IDEA 2018.2.5\bin\runnerw.exe" "C:\Program Files\Git\cmd\git.exe" -c credential.helper= -c

[2022-06-21 12:17] mambax7 commented on #403
Thanks for looking into it!

[2022-06-21 16:54] zielu commented on #403
Btw did you manage to try running that `Git / Fetch` action and checking if it works correctly ?

[2022-06-23 06:31] enerjazzer commented on #400
The freeze is still happening with 212.9.3, with the same backtrace mentioning gittoolbox:
[code]

[2022-06-23 06:42] zielu commented on #400
This is perfect - should narrow down root cause accurately

[2022-06-23 10:19] zielu commented on #400
212.9.4 should be up shortly in EAP channel, I think I found the issue causing freezing, but underneath it lies another issue - it looks like inline blame is failing to run blame command and writing out error log is what was causing the freeze (that error message must be quite big indeed).
Blame error will be logged in warn level (with reduced info now), if you could take there it might say smth u

[2022-06-24 02:54] mambax7 commented on #403
I turned off the automatic fetch, and it doesn't generate all these popup windows.
But it would be nice to have the automatic fetching working...

[2022-06-24 06:37] zielu commented on #403
Hi, unless you try with `Git / Fetch` (and several times to be sure) there is nothing more to do from my side. If it was general failure there would be more people with same problem already. Based on info you shared so far it might be as well an expired token.

To be clear - unless you try fetching with IDE action and check if it shows same behavior or not there is nothing for me to do but conclud

[2022-06-24 07:04] mrbscreen opened #405 "[Question] Missing: Status in Project View EAP2022.2 and 212.9.0"
I am missing the numbers of commit on top of base and the Arrows in the project view:
![image](https://user-images.githubusercontent.com/7286722/175480754-33e1fb36-cd41-4eeb-88cc-3432087a885e.png)

As you can see, it is configured. Is there any way to get them back.

I am using:

* EAP2022.2
* GitToolbox 212.9.0

[2022-06-24 09:47] zielu commented on #405
Hmm, I'm assuming that you do have changes that should be shown, right ? What happens if you re-open the project ? I've noticed that sometimes IDE fails to update the state so plugin does not get notification about new commits. You should be able to notice this in Git tool window too - no expected commits visible in history.

[2022-06-27 02:36] stefango commented on #402
@zielu Sorry for the late response. I think update develop (the target branch) branch before switching branches is a must. I don't reproduce this issue any more by doing this. Thx.

[2022-06-27 02:36] #402 closed

[2022-06-27 03:15] enerjazzer commented on #400
This is for 212.9.4 :(

Freeze for 182 seconds
IDE KILLED! Sampled time: 169500ms, sampling rate: 100ms, GC time: 198ms (0%), Class loading: 0%, cpu load: 1%

The stack is from the thread that was blocking EDT

com.intellij.diagnostic.Freeze
	at java.base@17.0.3/java.io.FileOutputStream.writeBytes(Native Method)
	at java.base@17.0.3/java.io.FileOutputStream.write(FileOutputStream.java:349)
	at jav

[2022-06-27 06:26] zielu commented on #400
Eeh, I'll continue the investigation - there must be some place that switches to UI thread...

[2022-06-27 09:05] zielu commented on #402
Ok, I get it now - there was no update done. Plugin does not do any such modifications by design, only thing it does is fetching which is safe as it does not modify the workspace in any way.

[2022-06-29 11:05] zielu commented on #400
212.9.5 is out in EAP channel too

[2022-06-30 06:18] Jidehem commented on #404
The issue seems to be fixed after updating to 212.9.5.

[2022-07-05 13:05] ap-wtioit opened #406 "[BUG] AlreadyDisposedException when switching projects (open in this window)"
**Describe the bug**
Got an error in PyCharm:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Unsure, happened when i switched projects with open in this window

The redacted_project mentioned in the stacktrace (is redacted, obviously) was the project i had open a few hours ago. So i guess the project switching happended as following:
* have a project open (window A)
* open redacted_p

[2022-07-06 11:19] zielu commented on #406
Hi, duplicate of #399. Release with fix will be out this week, you can try EAP channel for now. This issue is not critical, only annoying - nothing breaks.

[2022-07-07 02:12] LinWanCen opened #407 "[Feature] Note when reset to other current commit"
Pop-up window note when reset to non-current branch commit.
For example, my branch is 20220710, reset to a commit which branch is 20220810, and commit to branch 20220710, also equivalent to the merger, will trigger a branch version disaster.

[2022-07-08 14:32] zielu commented on #404
Done in (211/212).9.6

[2022-07-08 14:32] #404 closed

[2022-07-08 14:32] zielu commented on #399
Done in (211/212).9.6

[2022-07-08 14:32] #399 closed

[2022-07-08 14:32] #406 closed

[2022-07-12 15:51] paoloscr opened #408 "[BUG] "Push Tags On Branch" lacks sorter"
Hi, unfortunately since the last Intellij Idea Ultimate 2022.1.3,
"Push Tags On Branch" form does not sort tags anymore.
They are in sparse order, but they should be in local creation time order.
Anytime I have to push the last tags I have to search across hundreds of labels.

**Plugin version**
219.9.6

**IDE version**
2022.1.3 | IU-221.5921.22, built on June 21, 2022

[2022-07-13 07:20] zielu commented on #408
Hi, I'll take a look as soon as I can.

[2022-07-18 07:22] zielu commented on #408
Found it - collection type has changed hence mess with tag ordering. On it.

[2022-07-18 14:24] #408 closed

[2022-07-27 17:44] amynbe opened #409 "[Feature] Completion formatter for all multi-repo project"
If a project has multiple git repositories (e.g. 2 modules, each on its own repo) the completion formatter will show only the pattern for a single repo.

Slightly unrelated but it would also be nice to have the completion formatter write text by clicking a button, not only with Ctrl+space, a bit like this plugin: https://github.com/nemwiz/jira-commit-message-intellij-plugin (the frog icon).

Thank

[2022-08-08 06:19] mu88 opened #410 "[Question] Disable "Auto fetch finished" message?"
Hey 👋🏻

Is it possible to disable the "Auto fetch finished" message?
![image](https://user-images.githubusercontent.com/4560672/183352063-da3e352a-4597-4608-a75c-10cae4fe3630.png)

I don't want to get notified each and every time that it worked 🙂

Thx!

[2022-08-10 01:42] jesselhk commented on #405
Could it be OS related? Mine hasn't been working in Windows but works in macOS and Linux.
Local changes are picked up but not the remote.

[2022-08-10 07:47] zielu commented on #405
There is OS dependant component to it - I'm reading repo state from built-in Git Integration APIs and afaik they are hooked into OS-dependant FS notifications. In latest version I added diagnostics mode to be able to inspect what plugin is seeing. I'll add instructions how to enable it later today.

[2022-08-10 07:48] zielu commented on #410
Hi, it is possible, I'll add relevant section to manual and post link here.

[2022-08-15 06:53] thongtrinhbsm opened #411 "[BUG] Git blame Affected Files is not working"
**Describe the bug**
Git blame Affected Files is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Click in line blame to open Blame modal
2. Click on the 'Affected Files' link in Blame modal
3. Nothing happens

**Expected behavior**
A list of affected files should be displayed

**Plugin version**
212.9.7

**IDE version**
Windows 10 Pro 19044.1889
PhpStorm 2022.2
Build #PS-222.3345

[2022-08-15 16:59] zielu commented on #410
Hi, https://github.com/zielu/GitToolBox/wiki/Manual#notifications should help to get you going :)

[2022-08-15 17:04] zielu commented on #405
@mrbscreen @jesselhk could you enable [diagnostic mode](https://github.com/zielu/GitToolBox/wiki/Manual#enable-diagnostic-mode) and check local branch hash vs parent branch hash.
This information is taken from what built-in Git Integration is reporting and is not persisted by my plugin between restarts.

[2022-08-15 17:05] zielu commented on #411
Hi, it is indeed broken - on it.

[2022-08-15 18:29] zielu commented on #411
Done in (211/212).9.8

[2022-08-15 18:29] #411 closed

[2022-08-16 01:29] thongtrinhbsm commented on #411
thanks @zielu

[2022-08-16 06:16] mu88 commented on #410
Thank you :)

[2022-08-16 06:16] #410 closed

[2022-08-16 09:27] kyle1an opened #412 "[Bug] Set Color Scheme font style for inline blame not working"
**Describe the bug**
Set Color Scheme for inline blame not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Webstorm Setting > Editor > Color Scheme > GitToolBox Colors
2. Click on italic to set Editor inline blame to italic
3. Back to Editor, font still regular not italic

**Expected behavior**
Set Editor inline blame to italic, font style of inline blame will be italic

**Plug

[2022-08-16 14:48] zielu commented on #412
Hi, I'll take a look.

[2022-08-18 06:41] #403 closed

[2022-08-22 03:39] allhailwesttexas commented on #411
Thanks for fixing @zielu - this has been killing me recently!

[2022-08-23 17:39] #3 closed, assigned to nobody

[2022-08-24 06:43] zielu commented on #412
Done in (211/212).9.9

[2022-08-24 06:43] #412 closed

[2022-08-26 14:10] artfiedler opened #413 "[Feature] Support GitLab SSO"
We switch from gitlab on prem to gitlab cloud recently at the company and now after that was setup I can no longer use this plugin. It seems this plugin does not support gitlab.com SSO login, the regular gitlab.com login page options do not work for company sso we have to goto a specific gitlab.com url to trigger company sso.

If there is a way to do this currently I can't find the configuration o

[2022-08-26 14:13] zielu commented on #413
This must be shortcoming of IDE Git Integration - I do not do any auth directly - just use APIs provided by the platform

[2022-09-02 11:28] zielu commented on #413
@artfiedler could you try checking what happens when regular fetch action is used ? Please follow https://github.com/zielu/GitToolBox/wiki/Manual#login-popup-is-shown-every-few-minutes

[2022-09-15 03:41] artfiedler commented on #413
Finally figured this out, for whatever reason, I had to go into gitlab.com generate a new personal access token with read_repository & write_repository, then go into "manage windows credentials" add a new "windows credentials" > "generic credentials" use "git:https://gitlab.com" as the internet or network address, my sso username, and then use the generated personal access token as the password

[2022-09-29 03:02] auto-generated opened #414 "[BUG] Git Toolbox caused commit button unresponsive"
**Describe the bug**

see `https://youtrack.jetbrains.com/issue/IDEA-302552/Git-Toolbox-caused-commit-button-unresponsive`

**Plugin version**
212.9.9

**IDE version**
IntelliJ IDEA 2022.3 EAP (Ultimate Edition)
Build #IU-223.4884.69, built on September 22, 2022

[2022-09-29 05:55] zielu commented on #414
Version 212.9.9 never supported 223 platform (https://plugins.jetbrains.com/plugin/7499-gittoolbox/versions/stable/213357).  This is user modifying plugin.xml manually.

[2022-09-29 05:55] #414 closed

[2022-09-29 06:00] zielu commented on #413
Good that is works now

[2022-09-29 06:00] #413 closed

[2022-09-29 06:01] zielu opened #415 "[Feature] Support 2022.3 EAP"
212.9.12 is out in plugin EAP channel. How to switch to EAP: https://github.com/zielu/GitToolBox#eap-builds

[2022-09-29 08:00] zielu commented on #415
212.9.11 is out in plugin EAP channel. How to switch to EAP: https://github.com/zielu/GitToolBox#eap-builds

[2022-09-29 08:05] #383 closed

[2022-09-29 12:25] stribor opened #416 "Inline blame has color same as last character on the line"
**Describe the bug**
inline blame has the same color as the last character of the line

**To Reproduce**
open document
click on any line
git blame will be displayed in color of last character on the line

**Expected behavior**
always have same color of inline comments

**Plugin version**
Exact plugin version. 212.9.11 EAP Release (2022-09-29T07:50:08.675553)

**IDE version**
CLion 2022.3 EAP
Build

[2022-09-29 14:33] zielu commented on #416
Hi, can you paste setting from `Preferences > Editor > Color Scheme > GitToolBox Colors` ?

[2022-09-30 01:51] shilohooo opened #417 "[BUG]NPE in WebStorm 2022.2.2"
**Describe the bug**
NPE in WebStorm 2022.2.2

**To Reproduce**
1.Just open WebStorm

**Expected behavior**
No error.

**Plugin version**
212.9.9

**IDE version**
WebStorm 2022.2.2
Build #WS-222.4167.31, built on September 14, 2022
Subscription is active until December 30, 2022.
Runtime version: 17.0.4+7-b469.53 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Windows 10 10.0
GC: G1 Young Ge

[2022-09-30 01:52] shilohooo commented on #417
Stacktrace msg:
[code]

[2022-09-30 06:38] zielu commented on #417
@shilohooo as in open without opening any project or some project is opened too ?

[2022-09-30 06:50] shilohooo commented on #417
no error in this window:
![image](https://user-images.githubusercontent.com/46670399/193208438-c1c7ea2e-278f-40d4-8ef4-504b8d42ea65.png)

[2022-09-30 06:53] shilohooo commented on #417
In the morning, I first opened a project, and then the IDE reported an error later.

[2022-09-30 09:12] zielu commented on #417
@shilohooo did you close some project along the way (opening in existing window counts too) ? This is error usually happens when project is closed and zombie auto-fetch task runs. It breaks nothing but I'll see if can I improve it.

[2022-10-01 09:59] mallowigi opened #418 "[Feature]: Support for 2022.3"
Hi @zielu ,

Do you think you can be able to release an update for 2022.3 EAP?

Thanks

[2022-10-01 12:04] zielu commented on #418
Duplicate of #415

[2022-10-01 12:04] #418 closed

[2022-10-01 12:05] zielu commented on #415
There is a know issue with excessive scrollbars visible in plugin configuration UI on 2022.3 - under investigation

[2022-10-01 12:08] zielu commented on #416
Please try 212.9.12. It was possible from inline blame to "inherit" color in case when none was configured in Color Scheme. Now in such case editor text color will be used as fallback.

[2022-10-01 12:08] #416 closed

[2022-10-01 12:10] zielu commented on #417
Please [switch to EAP channel ](https://github.com/zielu/GitToolBox#eap-builds) and try 212.9.12. It has additional guards against zombie tasks throwing exceptions

[2022-10-02 13:16] stribor commented on #416
Sorry for late reply, I had nothing selected in GitToolBox Colors, all good now, thanks for great plugin!

[2022-10-05 15:59] pulatnazarov commented on #170
i could not find 2 setting in goland intellij, how can i change and set full name not only last name or name

[2022-10-06 06:42] zielu commented on #170
@pulatnazarov all options are there in current version of plugin
<img width="485" alt="image" src="https://user-images.githubusercontent.com/464103/194232253-da8970b5-cd69-45d4-a8e4-334b1352c1ca.png">

[2022-10-08 02:23] shilohooo commented on #417
Thank you:) I will try it.

[2022-10-11 20:29] IWareQ commented on #380
Please fix

[2022-10-12 07:54] zielu commented on #380
Hi, from the description I don't understand what is wrong. Describe exactly which UI are you using for rollback (dialog or tool window) and why do you expect that after rollback files should be selected - afaik they disappear from UI

[2022-10-12 11:32] IWareQ commented on #380
https://user-images.githubusercontent.com/51165317/195332088-de16cfe8-424b-4f19-84ff-904fbc60774c.mp4

[2022-10-12 12:25] zielu commented on #380
Can you check if it works as expected with my plugin disabled ?

[2022-10-12 12:30] IWareQ commented on #380
yes, it works

[2022-10-12 19:59] zielu commented on #380
I managed to reproduce this and it is buggy too without my plugin installed. Best report this to Jetbrains.

[2022-10-12 19:59] #380 closed

[2022-10-12 20:05] zielu commented on #415
On 223.6160.11 it is possible to encounter following exception during commit validation:
`java.lang.Throwable: java.lang.AbstractMethodError: Receiver class m223.b does not define or inherit an implementation of the resolved method 'abstract java.lang.Object runCheck(com.intellij.openapi.vcs.checkin.CommitInfo, kotlin.coroutines.Continuation)' of interface com.intellij.openapi.vcs.checkin.CommitCh

[2022-10-13 05:47] baiyidjp opened #419 "[BUG] AppCode I can't see every line of git info anymore"
**Describe the bug**
I can't see every line of git info anymore

**To Reproduce**

**Expected behavior**
I can see every line of git info anymore

**Plugin version**
Exact plugin version. Eg. 212.8.4

**IDE version**
AppCode 2022.2.2

**Screenshots**
<img width="1402" alt="iShot2022-10-13 13 46 48" src="https://user-images.githubusercontent.com/12672573/195512078-6fb1211f-e7d4-4bcc-bf5d-07d828aa22

[2022-10-13 05:48] baiyidjp commented on #419
<img width="570" alt="iShot2022-10-13 13 48 16" src="https://user-images.githubusercontent.com/12672573/195512464-af7292fd-f4d6-4204-9f3e-3d5751a46c55.png">

I can see when my commit is not committed

[2022-10-13 07:00] zielu commented on #419
Hi, latest plugin version is 212.9.9 - could you try it ?

[2022-10-14 01:58] baiyidjp commented on #419
First of all, thank you for your reply, my version is 212.9.9, then I uninstalled and reinstalled and it can be displayed normally

[2022-10-17 08:22] abvm659 commented on #405
Hi, I am experiencing the same issue. Any news about it? I am not sure when it started (most probably after upgrade to 2022.2.2). Having macOS Monterey. I don't see any error, anywhere in IDE. It says
<img width="95" alt="image" src="https://user-images.githubusercontent.com/73121375/196125974-75aa30ea-de7e-44a5-a262-1747eac657d1.png">
But refresh, fetches, updates etc. all works fine. Using https

[2022-10-17 09:02] abvm659 commented on #405
Ok got it .. needed to change status parent branch mode from `Auto` to `Tracked remote` - now it works fine (if someone will be dealing with the same issue)

<img width="464" alt="image" src="https://user-images.githubusercontent.com/73121375/196136037-9831a409-1fa0-4b91-a86f-60b43cf17ead.png">

[2022-10-17 10:07] zielu commented on #405
Hi, I'll see what might be wrong - auto should be a good default.

[2022-10-17 11:14] abvm659 commented on #405
Hi, no I am not using youtrack task server, just plain default task management plugin if it is what you are asking for? The only thing that might be related I am using is the settings repository (local directory with auto sync)

[2022-10-17 11:16] zielu commented on #405
Yes, I meant default task management. I'll try to reproduce this.

[2022-10-22 07:47] #419 closed

[2022-10-24 11:00] zielu opened #420 "[BUG] Java Task rejected error"
**Plugin error **

To Reproduce
Steps to reproduce the behavior – provide your build configuration, and/or link to the failing GitHub Action job.

Expected behavior
loading plugi properly

Environment:

OS: Win10 64bit
GitToolBox - 212.9.9
IntelliJ Version 2022.2.3 (comunity edition)
-Build #IC-222.4345.14, built on October 5, 2022
Runtime version: 17.0.4.1+7-b469.62 amd64
VM: OpenJDK 64-Bit Serve

[2022-10-25 08:22] zielu commented on #420
@pwypychamelco do you have a thread dump on hand by any chance ?

[2022-10-25 09:13] pwypychamelco commented on #420
Hi @zielu ,don't have unfortunately but if this will happen again will provide

[2022-10-25 10:11] zielu commented on #409
@amynbe you mean formatter that suggests issue key ? That is added to suggestions depends on which files are actually marked for commit. If you have changes in 2 repos but select files only from one of them for commit it will only consider that single repo.

[2022-10-27 04:20] codeking01 opened #421 "不支持2022.3.3EAP"
不支持最新的2022.3.3EAP,求更新一下大佬

[2022-10-27 04:24] zielu commented on #421
#415

[2022-10-27 04:24] #421 closed

[2022-11-01 10:17] RoyRao2333 opened #422 "[BUG] Inline comment is too bright with EAP in dark mode."
**Describe the bug**
After upgrading to EAP version of GitToolBox, the inline comment seems as bright as the normal code text. This makes it hard to distinguish between codes and git comment.

**Screenshots**
<img width="654" alt="image" src="https://user-images.githubusercontent.com/31413093/199211374-ca036704-fd52-4f55-aff2-26e9182b6ff3.png">

[2022-11-01 14:33] zielu commented on #422
Hi, I see what is wrong - fix is on the way.

[2022-11-02 03:11] RoyRao2333 commented on #422
By the way, if the stable version has released, should I remove the EAP plugin repository to receive stable updates?

[2022-11-02 13:41] zielu commented on #422
You can keep EAP - I push all stable releases there too.

[2022-11-04 09:28] CarinaSchoppe opened #423 "Datagrip Runtime Exception"
Just started DataGrip

Exception should not happen...

Stacktrace
Not disposed

java.lang.RuntimeException: Cannot invoke (class=l, method=a, topic=Git ToolBox File Changes)
	at com.intellij.util.messages.impl.MessageBusImplKt.invokeListener(MessageBusImpl.kt:639)
	at com.intellij.util.messages.impl.MessageBusImplKt.deliverMessage(MessageBusImpl.kt:395)
	at com.intellij.util.messages.impl.MessageB

[2022-11-04 10:31] zielu commented on #423
Hi, I'll take a look into this

[2022-11-04 19:06] zielu commented on #423
Looks like a null check was missing in one case

[2022-11-07 01:16] shilohooo commented on #417
Ok, thanks:)

[2022-11-08 05:24] Laffery commented on #168
I use the v212.9.9 plugin, it seems that the `Auto Fetch Exclusions` feature is deprecated, which is helpful in my opinion, would you like to pop up the feature online again?

[2022-11-08 09:17] zielu commented on #168
@Laffery they are available as project-level setting now.
<img width="832" alt="image" src="https://user-images.githubusercontent.com/464103/200524775-02c5e2e8-614e-499c-a84c-ac7b4aa3b6d7.png">

[2022-11-09 01:46] Laffery commented on #168
Ohh thanks very much!

[2022-11-09 07:49] nvdweem commented on #415
Is there some functionality that we can turn off to prevent the

error?

I'm on the latest EAP and I added the EAP plugin channel because I'm absolutely dependant on the auto-fetch feature but not being able to commit kinda breaks my workflow :)

[2022-11-09 07:53] zielu commented on #415
@nvdweem I plan to release the feature today

[2022-11-14 21:04] zielu commented on #423
Done in 212.10.0

[2022-11-14 21:04] #423 closed

[2022-11-14 21:04] #422 closed

[2022-11-14 21:05] zielu commented on #415
Done in 212.10.0

[2022-11-14 21:05] #415 closed

[2022-11-14 21:06] #375 closed

[2022-11-15 01:36] RoyRao2333 commented on #422
Yes, it's fixed! Great work 🎉

[2022-11-15 18:43] asampal opened #424 "[BUG] NPE on Idea startup"
**Describe the bug**
The following NPE was thrown on Idea startup:

[code]

**To Reproduce**
Steps to reproduce the behavior:
No idea how to reproduce

**Expected behavior**
Should not get exceptions on startup, especially NPE's

**Plugin version**
212.10.0

**IDE version**
IntelliJ IDEA 2022.3 Beta (Ultimate Edition)
Build #IU-223.7571.4, built on November 9, 2022
Licensed to IntelliJ IDEA EAP us

[2022-11-15 18:55] zielu commented on #424
On it

[2022-11-15 20:25] zielu commented on #424
Done in 212.10.1

[2022-11-15 20:25] #424 closed

[2022-11-16 02:32] shilohooo opened #425 "[BUG] Inline Comment dislocation"
**Describe the bug**
Inline Comment dislocation.

**To Reproduce**
1. Open a git project  via IntelliJ IDEA.
2. Open a file.
3. See the inline comment.

**Expected behavior**
Inline comment are not misplaced.

**Plugin version**
212.10.1.

**IDE version**
IntelliJ IDEA 2022.2.3 (Ultimate Edition)
Build #IU-222.4345.14, built on October 5, 2022
Subscription is active until December 30, 2022.
Runtim

[2022-11-16 07:43] zielu commented on #425
Hi, I'll take a look - I did not test english and chinese combo.

[2022-11-16 08:55] shilohooo commented on #425
Thanks

[2022-11-18 07:40] xuemanchi opened #426 "[BUG] IDE Internal Errors"
**Describe the bug**
A clear and concise description of what the bug is.

Following exceptions happened soon after this one, most probably they are induced.

2022-11-18T15:42:56.555
com.intellij.diagnostic.PluginException: Cannot create class zielu.gittoolbox.c.aK (classloader=PluginClassLoader(plugin=PluginDescriptor(name=GitToolBox, id=zielu.gittoolbox, descriptorPath=plugin.xml, path=G:\Webstor

[2022-11-18 07:56] xuemanchi commented on #426
sorry...
caused by wrong installation..

[2022-11-18 07:56] #426 closed

[2022-11-18 07:58] zielu commented on #426
Let me guess - you extracted jar file from downloaded zip ?

[2022-11-18 08:09] xuemanchi commented on #426
yep.. I used to install this plugin without extract :cry:

[2022-11-18 08:10] zielu commented on #426
No worries, I was afraid smth is wrong with packaging

[2022-11-18 09:34] ylexus opened #427 "NPE when opening project"
GitToolBox 212.9.9. This has just occurred to me when I cloned a project and then when IDEA opened it I closed the project while it was still loading it. Will probably be hard to reproduce, but still.

[code]

[code]

[2022-11-19 18:14] Machine-Maker opened #428 "[BUG] error on project open"
**Describe the bug**
Seemed to just start happening when I open a project. I noticed my inline blames weren't showing up and saw there was this error.

stacktrace.txt: https://pastes.dev/SpV1OnncJ4
induced.txt: https://pastes.dev/BxqZK5fh7G

**To Reproduce**
Not 100% sure, maybe it has to do with a super big file? The stack trace mentions something being too big

**Expected behavior**
No error

**

[2022-11-21 10:08] zielu commented on #428
[code]

[2022-11-21 10:10] zielu commented on #428
@Machine-Maker I'll take a look - this is related to persistent blame cache. I encode blames to base64 before persisting them so this might be a very long blame message.

[2022-11-21 10:12] zielu commented on #428
Note to self: https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4039553

[2022-11-21 12:18] zielu commented on #427
There are ways to avoid it to some extent but it requires rework of threading within the plugin (which is coming).

[2022-11-21 20:18] zielu commented on #425
@shilohooo could you share your setting from here?
<img width="632" alt="image" src="https://user-images.githubusercontent.com/464103/203150397-e48d72f5-4000-4b1c-968b-4e2b40921e62.png">

And maybe some test for which this is happening.

[2022-11-22 03:16] shilohooo commented on #425
@zielu
![image](https://user-images.githubusercontent.com/46670399/203212602-da1cd3c3-e45f-40a6-9a0d-db9f6e7a67b2.png)

[2022-11-22 08:56] zielu opened #429 "[Feature] Inline blame - support multiple carets"
Show inline blame for each line with caret instead of the single one

[2022-11-22 08:57] zielu opened #430 "[Feature] Inline blame - support inline blame for selected lines"
When multiple lines of text are selected show blame for all of them.

[2022-11-28 11:40] dusanmsk opened #431 "[BUG] java.nio.file.NoSuchFileException from blame persistence"
After purging idea caches and restarting NoSuchFile exception raises

Steps to reproduce the behavior:
1. Go to File->invalidate caches->and restart
2. Wait to start, reopen project
3. See error

Exact plugin version. Eg. 211.9.9

IntelliJ IDEA 2021.1.3 (Ultimate Edition)
Build #IU-211.7628.21, built on June 30, 2021
Licensed to ***
You have a perpetual fallback license for this version.
Runtime v

[2022-11-28 12:13] zielu commented on #431
On it

[2022-11-29 18:13] zielu commented on #431
Done in 213.10.2 - as 2021.3 is minimum supported version as a workaround for 2021.1 you can do the following:

1. Open `Help > Find Actions... > Registry...`
2. Find key `zielu.gittoolbox.blame.cache.persistent` and set is to `false`

[2022-11-29 18:13] #431 closed

[2022-11-29 18:14] zielu commented on #428
Done in 213.10.2

[2022-11-29 18:14] #428 closed

[2022-11-30 06:11] StevenCai1996 commented on #425
Same issue with chinese and english composed comment,previous version works fine.

[2022-11-30 06:17] zielu commented on #425
@StevenCai1996 can you provide some sample and same settings page as original reporter? I tried to reproduce it but no luck so far.

[2022-11-30 07:20] StevenCai1996 commented on #425
@zielu
![gittoolboxRP2](https://user-images.githubusercontent.com/55140081/204731872-83afd289-ad34-4867-a6eb-1fb3d567d93f.PNG)
![gittoolboxRP1](https://user-images.githubusercontent.com/55140081/204731878-7c806e30-f051-414f-88d8-21cc687e0309.PNG)

`https://github.com/StevenCai1996/gittoolbox213102Report.git`
You can pull this sample project to see inline blame.
212.8.8 [O]
213.10.2 [X]

[2022-11-30 07:58] zielu commented on #425
@StevenCai1996 your are on Windows by any chance ?

[2022-11-30 08:15] StevenCai1996 commented on #425
Yes,Win 10 pro 64bit

[2022-11-30 08:39] shilohooo commented on #425
After upgrading WebStorm to 2022.3 and GitToolBox to 213.10.2,  the plug-in works fine.

The screeshot:
![image](https://user-images.githubusercontent.com/46670399/204747710-a065d5b1-90e8-4877-9031-eb59f3f4306b.png)

and setting:
![image](https://user-images.githubusercontent.com/46670399/204747838-98eeb459-d270-41ec-bd2c-ccd164c0cb27.png)

[2022-11-30 08:44] shilohooo commented on #425
The inline blame in  IntelliJ IDEA v2022.2.4:
![image](https://user-images.githubusercontent.com/46670399/204748915-c3c72395-7adc-436b-9ddc-ca7f368b280c.png)
and my setting:
![image](https://user-images.githubusercontent.com/46670399/204749066-db55de66-1c09-4d0d-a97a-f3ad30f9947a.png)

Plug-in version is 213.10.2

[2022-11-30 08:46] shilohooo commented on #425
Hope it can help you to reproduce the problem:)

[2022-11-30 18:58] zielu commented on #425
2022.2 and Windows is the way to reproduce this - I found there is indeed difference in aligning text between plugin 212.8.8 and more recent code. Some Y coordinate adjustment were lost along the way...

[2022-11-30 20:19] zielu commented on #425
Looks like old code is the best code :)